.subtitle-destinos{
    font-size: 24px;
    font-family: 'Muli', sans-serif;
}
.title_nv_contact{
    font-size: 20px;
    font-family: 'CocomatLight';
}
#ds_plane, #ds_envelope{position: relative;padding-left: 30px; }
#ds_plane::before {
    content: "\f072";
    position: absolute;
    left: 0px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 14px;
}
#map{
    height: 420px;
}
.active_up::after{
    content: "\f105";
    position: absolute;
    right: 0px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 14px;
}
.active_down::after{
    content: "\f107";
    position: absolute;
    right: 0px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 14px;
}
#ds_envelope::before {
    content: "\f0e0";
    position: absolute;
    left: 0px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 14px;
}
.bg-nav-head{background-color: var(--contactColorFooter);}
.bg-nav-cont{background-color: var(--thirdColorFooter); min-height: 480px;}
.link-resort{
    color: var(--secondaryColor);
    font-family: 'Muli', sans-serif;
    position: relative;
}
.link-resort:hover{
    color: var(--secondaryColor);
}
.link-resort::before {
    content: "\f105";
    position: absolute;
    right: -15px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: -2px;
}
.btn_more_info{
    min-width: 165px;
    display: inline-block;
    padding: 12px 12px 10px 12px;
    text-align: center;
    color: #1c1b1b;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Muli', sans-serif;
    border: 1px solid #c29c75;
    position: relative;
}
.btn_more_info::after {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    color: #c29c75;
    font-weight: 900;
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.btn_more_info::before {
    content: "\f105";
    position: absolute;
    right: 5px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 8px;
}
.btn_more_info:hover, .btn_more_info:focus {
    color: #c29c75;
}
.section_gray{
    background-color: #f7f7f7;
}
.dest-title-gray{
    font-size: 16px;
    font-family: 'CocomatLight';
}
.card-rel{position: relative;}
.card-link {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}
.card-link-tr{
    background-color: rgba(0,0,0,0.3);
}
.link-service{
    font-family: 'Muli', sans-serif;
    font-size: 26px;
}
@media only screen and (max-width: 850px), (orientation: portrait){ .link-service{ font-size: 16px; } }
.map-down {
    position: relative;
    right: 0;
    top: 15%;
    width: 100%;
}
.map-down.bodas {
    top: 9%;
}
.card-white{
    position: relative;
}
.card-white h4{
    position: relative;
}
.card-white h4::after {
    content: '';
    display: block;
    width: 45px;
    height: 1px;
    background-color: #c29c75;
    position: absolute;
    right: 0;
    bottom: -12px;
}
.btn_black_dest{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 165px;
    padding: 12px 12px 10px 12px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    background-color: #000;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.v-button::after {
    position: absolute;
    right: 15px;
    top: 50%;
    display: inline-block;
    margin-top: -7px;
    font-weight: bold;
    font-size: 12px;
    font-size: 1.2rem;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.btn_black_dest::before {
    content: "\f105";
    position: absolute;
    right: 5px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 8px;
}
.btn_black_dest:hover, .btn_black_dest:focus {
    color: #fff;
    text-decoration: none;
    background-color: #c29c75;
}
.subtitle-card-white, .description-card h4, .subtitle-card-bottom{
    font-size: 24px;
    font-family: 'CocomatLight';
    position: relative;
}
.subtitle-card-normal{
    font-size: 18px;
    font-family: 'CocomatLight';
    position: relative;
}
.fig-card{
    min-height: 265px;
}
.card-normal-gray{
    background-color: #f7f7f7;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    min-height: 125px;
}
.card-dest-gray{
    background-color: #f7f7f7;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
}
.card-dest-gray, .card-white{
    min-height: 265px;
}
.description-card{
    background-color: white;
    margin: 6% 0 0 -8%;
    width: 100%;
    position: relative;
}
@media only screen and (max-width: 900px), (orientation: portrait){ .description-card{ margin: 0!important; } }
.description-card h4::after, .subtitle-card-bottom::after, .subtitle-card-normal::after{
    content: '';
    display: block;
    width: 45px;
    height: 1px;
    background-color: #c29c75;
    position: absolute;
    left: 0;
    bottom: -9px;
}
.line-bottom-r::after{
    right: 0;
    left: initial;
}
.rest-title-gray{
    font-size: 24px;
    font-family: 'Muli', sans-serif;
}
.faborder{
    border: 1px solid;
    padding: 3px 6px 3px 6px;
}
.btn_ver_plano{
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btn_ver_plano:hover{
    color: #c29c75;
}
.text-price-hotel{font-size: 18px;}
.details-phone{
    padding: 10px 12px;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    background-color: #c29c75;
    color: white;
}
.lnk-pac{
    color: #5aa3ad;
}
.lnk-pac:hover{
    color: #5aa3ad;
    text-decoration: underline;
}
.border-gray-bold{
    border-left: 1.5px solid #8f8f8f !important;
}
@media only screen and (max-width: 900px), (orientation: portrait) { .border-gray-bold{ border: none !important; } }

.previewRestaurantLogo {
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}
