.section_gray{
    background-color: #f7f7f7;
}
.title-card-award {
    font-size: 24px;
    font-family: 'CocomatLight';
    position: relative;
}
.title-card-award::after{
    content: '';
    display: block;
    width: 45px;
    height: 1px;
    background-color: 
    #c29c75;
    position: absolute;
    right: 0;
    bottom: -15px;
}
.fig-card{
    min-height: 400px;
}
.card-dest-gray{
    background-color: #f7f7f7;
    position: relative;
}
.card-dest-gray {
    min-height: 400px;
}
.description-card{
    background-color: white;
    /* margin: 6% 0 0 -11%; */
    width: 100%;
    position: relative;
}
.dsc-card-2{
    /* margin: 6% 0 0 11%; */
    z-index: 9;
}
.col-lg-7 {
    margin: 0 auto;
}
@media only screen and ( max-width: 900px), (orientation: portrait)
{
    .description-card, .dsc-card-2
    {
        margin: 0;
    }
}
.description-card h4::after, .subtitle-card-bottom::after, .subtitle-card-normal::after{
    content: '';
    display: block;
    width: 45px;
    height: 1px;
    background-color: #c29c75;
    position: absolute;
    left: 0;
    bottom: -9px;
}
.description-card h4.text-right::after {
    left: unset;
    right: 0;
}
.line-bottom-r::after{
    right: 0;
    left: initial;
}
.rest-title-gray{
    font-size: 24px;
    font-family: 'Muli', sans-serif;
}
.description-card h4{
    font-size: 24px;
    font-family: 'CocomatLight';
    position: relative;
}
.lnk-pac{
    color: #5aa3ad;
}
.lnk-pac:hover{
    color: #5aa3ad;
    text-decoration: underline;
}
.card-dest-gray, .card-white {
    min-height: unset;
}
.card-dest-gray {
    background-color: #f7f7f7;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.map-down {
    top: 0;
}
