.card-link{position: absolute;right:0;}
.card-rel{position: relative;}
.col-gray{background-color: #efeee9;}
#banner-home, .item-banner-home{height: 100vh;position: relative; object-fit: cover;}
.item-banner-home video{ height: 100%; object-fit: cover;}
#message-banner-1, .messageForGalleryElement{position: absolute;top: 45%;width: 90%;left: 5%;z-index: 9;}
#message-banner-1 h1, .messageForGalleryElement h1{font-family: 'CocomatLight';font-size: var(--sizeBigTitle);}
.line-text-title {
    width: 28%;
    height: 0.5px;
    background-color: #FFFFFF;
}
.line-subtitle {
    width: 80px;
    border: 0.5px solid var(--secondaryColor);
}
.h-subtitle{
    font-family: 'CocomatLight';
    font-size: var(--sizeTitle);
    color: var(--secondaryColor);
    font-weight: 500;
}
.row-section-two{background-color: #f7f7f7;}
.bgcolor-white{background-color: #FFFFFF;}
.subtitle-seccion{color:var(--thirdColor);font-size: 20px;font-family: 'CocomatLight';}
.h3-text{color:var(--secondaryColor);font-size: var(--sizeSecondaryTitles);font-family: 'CocomatLight';}
.p-text-home{color:var(--secondaryColor);font-size: var(--sizeThirdTitles);font-family: 'CocomatLight';}
.li-hotel{color: var(--secondaryColor);font-family: 'CocomatLight';font-size: 20px;}
.active-li{color: #FFFFFF;background-color: var(--thirdColor);}
.span-line{font-size: 35px;font-weight: 100;font-family: 'CocomatUltralight';}
.name-hotel{font-size: 12px;font-family: 'Muli', sans-serif; font-weight: 800;color: #928467;}
.active-li:before, .li-hotel:before{
    content: "\f105";
    position: absolute;
    right: 5%;
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: 600;
}
.link_hotel:hover{
    text-decoration: underline;
    color:var(--thirdColor);
}
.link-service{
    font-family: 'CocomatLight';
    font-size: var(--sizeCardsTitles);
}
.item-banner-abs{
    position: absolute;
    top: 0%;
}
.close-home{
    position: absolute;
    right: 12px;
    color:
    white;
    font-size: 85px;
    z-index: 9;
    font-weight: 100;
    top: 50px;
    line-height: 50px;
    opacity: 1;
}
.close-home:hover{
    color:white;
    opacity: 1 !important;
}
.icon-play-h{
    position: absolute;
    top: 64%;
    right: calc(50% - 24px);
    cursor: pointer;
    transform:scale(0.8);
    transition-duration: 0.4s;
    z-index: 9;
}
@media only screen and (max-width: 850px), (orientation: portrait)
{
    .icon-play-h
    {
        top: 65%;
        right: 44%;
    }
}
.icon-play-h:hover{
    transform:scale(1);
}
.swiper-button-next, .swiper-button-prev{
    top: 45%;
}


