.section_gray{
    background-color: #f7f7f7;
}
.mg-p::after{
    content: '';
    display: block;
    width: 80%;
    max-width: 600px;
    height: 2px;
    background-color: #e1e1e1;
    margin: 10px auto 0 auto;
}
.lnk-c a{
    color: #178d9b;
}
.fa-obl{
    color: #0066ad;
    font-size: 12px;
}
.btn_black_dest{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 165px;
    padding: 12px 12px 10px 12px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    background-color: #000;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    border: none;
}
.btn_black_dest::before {
    content: "\f105";
    position: absolute;
    right: 12px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 8px;
}
.btn_black_dest:hover, .btn_black_dest:focus {
    color: #fff;
    text-decoration: none;
    background-color: #c29c75;
}