:root{
    /* FONT SIZES */
    --sizeNav: 13px;
    --sizeBigTitle: 50px;
    --sizeTitle: 28px;
    --sizeSecondaryTitles: 24px;
    --sizeThirdTitles: 18px;
    --sizeSimpleText: 15px;
    --sizeCardsTitles: 26px;
    --sizeFooterText: 12px;
    --sizeFooterCopy: 11px;
    
    /* COLORS */
    --primaryColor: rgba(2,44,75,1); /* Main Blue */
    --secondaryColor: rgba(28,27,27,1); /* Black letter*/
    --thirdColor: rgba(194, 156, 117, 1); /* Subtitles */
    --firstColorFooter: rgba(67,67,67,1); /* Footer main */
    --secondColorFooter: rgba(37,37,37,1); /* Footer brand */
    --thirdColorFooter: rgba(12,12,12,1); /* Footer copyright */
    --contactColorFooter: rgba(52,52,52,1); /* Contact footer */
}
body {
    padding-top: 0 !important;
}
@media only screen and (max-width: 850px), (orientation: portrait)
{
    :root
    {
        --sizeBigTitle: 30px;
        --sizeTitle: 22px;
        --sizeSecondaryTitles: 22px;
        --sizeThirdTitles: 15px;
        --sizeCardsTitles: 16px;
    }
}
/* Imports web fonts*/
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
@font-face {
    font-family: 'CocomatLight';
    src: url('webfonts/CocomatLight.eot');
    src: url('webfonts/CocomatLight.eot?#iefix') format('embedded-opentype'),
        url('webfonts/CocomatLight.woff') format('woff'),
        url('webfonts/CocomatLight.woff2') format('woff2'),
        url('webfonts/CocomatLight.ttf') format('truetype'),
        url('webfonts/CocomatLight.svg#webfont') format('svg');
}
@font-face {
    font-family: 'CocomatUltralight';
    src: url('webfonts/CocomatUltralight.eot');
    src: url('webfonts/CocomatUltralight.eot?#iefix') format('embedded-opentype'),
        url('webfonts/CocomatUltralight.woff') format('woff'),
        url('webfonts/CocomatUltralight.woff2') format('woff2'),
        url('webfonts/CocomatUltralight.ttf') format('truetype'),
        url('webfonts/CocomatUltralight.svg#webfont') format('svg');
}
/* ---- */
.row.services
{
    position: relative;
    margin: 15vmin 0;
}
.row.services .container
{
    position: relative;
}
@media only screen and (max-width: 850px), (orientation: portrait)
{
    .row.services
    {
        margin: 5vmin 0;
    }
    .row.services .container
    {
        position: static;
    }
}
.submenuDisplayer.ixtapa,.submenuDisplayer.zihuatanejo,.sbumenuDisplayer{font-size: 15px;}
.gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 0;
height: 45vh;
}
.gallery__img {
width: 100%;
height: 100%;
object-fit: cover;
}
.gallery__item {
position: relative;
cursor: pointer;
}
.gallery__item.active
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item.active > div
{
    display: none;
}
.gallery__text__container .gallery__text
{
    display: none;
}
.gallery__text__container .gallery__text.active
{
    display: block;
}
figure {
margin: 0;
}
.gallery__item > div {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(26,112,162,0.5);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: background 0.4s ease;
}
.gallery__item > div:hover
{
    background-color: rgba(26,112,162,0.8);
}
.bg-primaryColor{ background-color: var(--primaryColor); transition: all 0.4s; }
.bg-hov1:hover{ background: #0d436b; }
.font-subtitle-lp{font-weight: 400 !important; font-size: 28px;}
.card-white-lp a{color: inherit;text-decoration: underline;}
.subtitle-lps{font-size: 24px;
    font-family: 'CocomatLight';
    position: relative;}
    .subtitle-lps::after {
        content: '';
        display: block;
        width: 45px;
        height: 1px;
        background-color: #c29c75;
        position: absolute;
        left: 0;
        bottom: -9px;
    }    
.bg-thirdColor { background-color: var(--thirdColor); transition: all 0.4s;  }
.bg-hov2:hover{ background-color: rgb(185, 146, 107); }
.li-lpv li a{color: var(--secondaryColor);
    font-family: 'Muli', sans-serif;
    position: relative;}
    .li-lpv li a:hover {
        color: var(--secondaryColor);
    }
.text-primaryColor { color: var(--primaryColor); }
.text-thirdColor { color: var(--thirdColor); }
.dv-log{background-color: var(--primaryColor);}
#my-footer{background-color: var(--firstColorFooter);font-size: var(--sizeFooterText);}
#contact-footer{background-color: var(--contactColorFooter);}
#footer-brand{background-color: var(--secondColorFooter);font-family: 'Muli', sans-serif;}
#footer-privacy{background-color: var(--thirdColorFooter);font-family: 'Muli', sans-serif;}
.footer-nav, .fontmul,.text-normal, .text-line-bottom{font-family: 'Muli', sans-serif; position: relative;}
.text-coco{font-family: 'CocomatUltralight';font-size: var(--sizeSimpleText);}
.fontco{font-family: 'CocomatUltralight';border-bottom: 1px solid;}
.telfoot, .fontco{width: 80%;}
.telfoot{font-size: 16px;font-weight: 600;}
.border-black{border-color: #000000 !important;}
.social-footer{font-size:16px;}
.footer-cp{font-size: var(--sizeFooterCopy);}
.text-normal,.text-line-bottom{font-size: var(--sizeSimpleText);}
.text-mini{font-size: 14px;font-family: 'Muli', sans-serif;}
.text-u-mini{font-size: 12px;font-family: 'Muli', sans-serif;}
.text-b-mini{font-size: 9px;font-family: 'Muli', sans-serif;}
.bg-hov2{text-decoration: none;}
.text-line-bottom::after {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    background-color: #c29c75;
    margin: 10px auto 0 auto;
}
.fit-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 900px), (orientation: portrait) { .fit-image{ height: auto; } }
.h-subtitle{font-size: 40px; font-family: 'CocomatLight';}
@media only screen and (max-width: 900px), (orientation: portrait) { .h-subtitle{ font-size: 26px; } }
.h-subtitle-l{font-size: 30px; font-family: 'CocomatLight';}
.h-subtitle2{font-size: 20px;font-family: 'Muli', sans-serif;}
.nav-pacifica{font-family: 'Muli', sans-serif;color: var(--primaryColor) !important;font-size: 12px; font-weight: 700;}
.banner_section{ height: 100vh;position: relative;}
.banner_fluid{ height:auto;position: relative;}
.banner_fluid img { object-fit: cover; }
@media only screen and (max-width: 900px), (orientation: portrait) { .banner_fluid{ height: 100vh; } }
.banner_section img{object-fit: cover;object-position: 50% 0;}
.message-banner{position: absolute;top: 45%;width: 100%;left: 0%;z-index: 9;}
.message-banner h1{font-family: 'CocomatLight';font-size: var(--sizeBigTitle);}
.line-text-message{width: 350px;height: 0.5px;background-color: #FFFFFF; margin: 0 auto;}
.message-slogan{font-size: 14px;font-family: 'Muli', sans-serif;}
.li-hotel{cursor:pointer;}
/* Slider gallery */
.slide-destinations {
    margin: 0;
    opacity: 0;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
}
.slide-destinations.slick-initialized {
    opacity: 1;
}
.v-slide {
    position: relative;
    height: auto;
    background-color: #000;
    -moz-transition: all 700ms;
    -o-transition: all 700ms;
    -webkit-transition: all 700ms;
    transition: all 700ms;
}
.v-slide {
    margin: 0 9px;
    opacity: .34;
    padding-bottom: 42px;
    background-color: transparent;
}
.v-slide.slick-current, .v-slide.slick-active {
    opacity: 1;
}
.v-slide.slick-current, .v-slide.slick-active {
    opacity: 1;
}
.slick-arrow.i-arrow-light {
    background-color: #000;
}
.slick-arrow.i-arrow-light {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 16px 16px 15px;
    background-color: rgba(0,0,0,1);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.i-arrow-light::after {
    font-family: 'Font Awesome 5 Free';
    color:white;
}
.v-slider__arrow_next {
    right: 0;
}
.v-slider__arrow_next::after{
    content: "\f104";
    right: 10px !important;
}
.v-slider__arrow_prev::after{
    content: "\f105";
}
.v-button::after {
    position: absolute;
    right: 12px;
    top: 50%;
    display: inline-block;
    margin-top: -10px;
    line-height: 1;
    font-weight: bold;
    font-size: 20px;
}
/* Fin Slider */
.docsMenu div.text-center
{
    transition: background 0.4s ease;
    cursor: pointer;
    padding-top: 3vmin;
}

.docsMenu div.text-center.active, .docsMenu div.text-center:hover
{
    background: #0d436b;
    color: var(--thirdColor);
}
.docsMenu div.text-center.active p.text-primaryColor, .docsMenu div.text-center:hover p.text-primaryColor
{
    color: var(--thirdColor);
}
.aside-nav-main{
    background-color: #f0efeb;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.toggleNavaside::before {
    content: "\f105";
    position: absolute;
    right: 15px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 5px;
}
.toggleNavaside {
    position: relative;
    display: block;
}
@media (min-width: 992px) {
    .aside-nav-main {
        width: 80%
    }
    .toggleNavaside {
        display: none;
    }
}
.active_nav_sect{background: #86827f; color:white !important;}
.text-grayp, .text-sub-nav{color: #64615a;}
.nav-main-destination  ul  li, .nvuniq{
    border-bottom: 1px solid #777777;
}
.nvuniq{
    color: #64615a;
    cursor:pointer;
}
.nav-main-destination ul li > ul > li:first-child{
    border-top: 1px solid #777777;
}
.nav-main-destination ul li > ul > li:last-child, .nav-main-destination  ul  li:last-child{
    border: none;
}
.main-group{
    background-color: white;
}
.main-group li{
    border-bottom: 1px solid #e1e1e1;
}
.bord-none{
    border-bottom: 0px !important;
}
.bort{
    border: none !important;
}
.main-group li:last-child{
    border: none !important;
}
.bl-main{
    border-left: 1px solid #178d9b;
}
.text-grayp:hover, .nvuniq:hover{
    text-decoration: none;
    background-color: #86827f;
    color:white !important;
}
.active_nav_cat{
    color:#178d9b;
}
.nv_sbm{
    font-size: 13px;
}
.text-sub-nav:hover{
    text-decoration: none;
    color:#178d9b;
    transition: all .2s ease-in-out;
}
.group-link{position: relative;}
.group-link::before {
    content: "\f105";
    position: absolute;
    right: 15px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 5px;
}
.telhead{font-size: 1.3em}
@media (min-width:1200px) {
    .container {
        max-width:1440px;
    }
} 
/* General css Start */
[data-background]
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    transition: background 0.4s ease;
}
.mobile
{
    display: none;
}
.hidden
{
    display: none;
}
.menuItem.onlyInMobile
{
    display: none;
}
@media only screen and (max-width: 850px), (orientation: portrait)
{
    .mobile
    {
        display: inherit;
    }
    .notInMobile
    {
        display: none !important;
    }
    .menuItem.onlyInMobile
    {
        display: flex;
    }
}
/* General css End */

/* General Nav Start */
.nav *
{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.nav
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 999999;
    user-select: none;
    font-size: var(--sizeFooterText);
}
.nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .fa-chevron-right
{
    margin-left: 2vmin;
}
.nav .navContent
{
    background-color: white;    
    display: flex;
    width: 100%;
    color: var(--primaryColor);
}
.nav .navLogoSmall
{
    display: none;
}
.nav .navLogoSmall .navLogo
{
    width: 15vmin;
    background-color: var(--primaryColor);
    cursor: pointer;
    padding: 10px 15px;
}
.nav .navLogoBig {
    position: relative;
    width: 25vmin;
    max-width: 130px;
    height: 50px;
    display: block;
}
.nav .navLogoBig .navLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vmin;
    max-width: 130px;
    padding: 0;
}
.nav .contacto
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--thirdColor);
    width: 25vmin;
    color: white;
}
.nav .idioma
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vmin;
}
.nav .menu
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    flex: 1;
}
.nav .menu .menu
{
    display: block;
    width: 20%;
}
.nav .menu .menu .menu
{
    width: 100%;
}
.nav li, .nav .submenuDisplayer
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.nav li
{
    transition: background 0.5s ease, color 0.5s ease;
}
.nav li li
{
    height: calc(var(--sizeFooterText) + 3vmin);
    position: relative;
}
.nav li:hover
{
    background-color: var(--primaryColor);
    color: white;
}
.nav li li:hover
{
    color: white;
    background-color: var(--primaryColor);
}
.nav .submenu
{
    position: absolute;
    left: 0;
    top: -100vh;
    width: 100%;
    transition: top 0.5s ease;
    z-index: -1;
    cursor: default;
    /* background-color: white; */
    background-color: transparent;
    color: var(--primaryColor);
    /* border-bottom: 1px solid var(--primaryColor); */
    padding: 0 50px;
    height: 40vh;
    display: flex;
}
.menuItem.destinations > .submenu > .menu, .menuItem.hotels > .submenu > .menu {
    background-color: white;
    border-bottom: 1px solid var(--primaryColor);
}
.nav .submenu .navSectionContent
{
    width: 80%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav .submenu .submenu
{
    top: 0;
    left: -100vw;
    padding: 0;
    transition: left 0.4s ease;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
    color: white;
}
.nav .submenu.active
{
    top: 100% !important;
}
.nav .submenu .submenu.active
{
    left: 100% !important;
    top: 0 !important;
}
.submenu .closeButton
{
    position: absolute;
    bottom: 0;
    right: 6%;
    top: 1vh;
    z-index: 1;
    font-size: var(--bigTitleSize);
    color: white;
}
.nav .toggleMenu
{
    font-size: var(--sizeBigTitle);
    align-self: center;
    margin: 0 5%;
    cursor: pointer;
}
.nav .closeSubmenu
{
    font-size: 6vmin;
    z-index: 1;
    position: absolute;
    color: white;
    right: 5%;
}

.nav .menuBackSection {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav .menuBackSection.ixtapa-hoteles {
    background-image: url(../images/menu/destinos_ixtapa_hoteles_resort.jpg);
}
.nav .menuBackSection.ixtapa-gastronomia {
    background-image: url(../images/menu/destinos_zihuatanejo_gastronomia.jpg);
}
.nav .menuBackSection.ixtapa-actividades {
    background-image: url(../images/menu/destinos_ixtapa_actividades.jpg);
}
.nav .menuBackSection.ixtapa-golf {
    background-image: url(../images/menu/destinos_ixtapa_golf.jpg);
}
.nav .menuBackSection.ixtapa-entretenimiento {
    background-image: url(../images/menu/destinos_ixtapa_entretenimiento.jpg);
}
.nav .menuBackSection.ixtapa-compras {
    background-image: url(../images/menu/destinos_ixtapa_compras.jpg);
}
.nav .menuBackSection.ixtapa-bodas {
    background-image: url(../images/menu/destinos_ixtapa_bodas.jpg);
}
.nav .menuBackSection.zihuatanejo-hoteles {
    background-image: url(../images/menu/destinos_zihuatanejo_hoteles_resort.jpg);
}
.nav .menuBackSection.zihuatanejo-gastronomia {
    background-image: url(../images/menu/destinos_zihuatanejo_gastronomia.jpg);
}
.nav .menuBackSection.zihuatanejo-actividades {
    background-image: url(../images/menu/destinos_zihuatanejo_actividades.jpg);
}
.nav .menuBackSection.zihuatanejo-golf {
    background-image: url(../images/menu/destinos_zihuatanejo_golf.jpg);
}
.nav .menuBackSectionContainer {
    width: 75%;
    float: right;
    height: 100%;
    position: relative;
    color: #fff;
}
.nav .sectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.nav .menuBackSectionContainer .opening__title {
    width: 100%;
    font-family: 'CocomatLight';
    font-family: 'CocomatLight';
}
.nav .menuBackSectionContainer .opening__title:after {
    content: '';
    display: block;
    height: 3px;
    width: 34px;
    margin: 0 auto;
    background-color: #c29c75;
    width: 62px;
}
.nav .menuBackSectionContainer p {
    width: 100%;
    text-transform: none;
    margin: 4% 0;
    padding: 0 20%;
    font-size: 1.2em;
}
.nav .menuBackSectionContainer .v-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 10px 13px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;
    font-style: normal;
    font-family: "Gotham", sans-serif;
    background-color: #000000;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.nav .menuBackSectionContainer .v-button:hover {
    text-decoration: none;
    background-color: #c29c75;
}
.nav .menuBackSection.hoteles .sectionContent {
    height: 40%;
}
.nav .menuBackSection.hoteles .sectionContent > * {
    width: 70%;
    text-align: left;
    text-transform: none;
}
.nav .menuBackSection.hoteles .sectionContent > h3 {
    font-weight: 400;
    margin-bottom: 1%;
}
.nav .menuBackSection.hoteles .sectionContent > p {
    font-weight: 500;
    color: gray;
}
.nav .menuBackSection.hoteles .sectionHotels {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.nav .menuBackSection.hoteles .sectionHotels > div {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.nav .menuBackSection.pacifica-resort {
    background-image: url(../images/menu/menu_resorts_back_pacifica_resort.jpg);
}
.nav .menuBackSection.pacifica-grand {
    background-image: url(../images/menu/menu_resorts_back_pacifica_grand.jpg);
}
.nav .menuBackSection.hoteles-ixtapa {
    background-image: url(../images/menu/menu_resorts_full_pacifica_resort.jpg);
    position: absolute;
    top: 0;
    left: 0;    
}
.nav .menuBackSection.hoteles-zihuatanejo {
    background-image: url(../images/menu/menu_resorts_full_pacifica_grand.jpg);
    position: absolute;
    top: 0;
    left: 0;
}
.nav .displayBlock {
    display: block;
}
.nav .displayNone {
    display: none;
}

@media only screen and (max-width: 850px), (orientation: portrait)
{
    .nav .navLogoBig {
        display:none;
    }
    .nav .navLogoSmall {
        display:block;
    }
    .nav .navContent
    {
        justify-content: space-between;
    }
    .nav .navLogoSmall .navLogo
    {
        padding: 5px 10px;
        width: 25vmin;
    }
    .nav .destinations > .submenu > .menu > li,
    .nav .hotels > .submenu > .menu > li
    {
        background-blend-mode: color;
        color: white;
    }
    .nav .destinations > .submenu > .menu > li:hover,
    .nav .hotels > .submenu > .menu > li:hover
    {
        background-color: rgba(0,0,0,0.6);
    }
    .nav .destinations > .submenu > .menu > li:first-child
    {
        background-image: url(../images/menu/destinos_ixtapa_hoteles_resort.jpg);
    }
    .nav .destinations > .submenu > .menu > li:last-child
    {
        background-image: url(../images/menu/destinos_zihuatanejo_hoteles_resort.jpg);
    }

    .nav .hotels > .submenu > .menu > li:first-child
    {
        background-image: url(../images/menu/menu_resorts_full_pacifica_resort.jpg);
    }
    .nav .hotels > .submenu > .menu > li:last-child
    {
        background-image: url(../images/menu/menu_resorts_full_pacifica_grand.jpg);
    }
    .nav .menu
    {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        transition: left 0.4s ease;
        background: white;
    }
    .nav .menu .menu .menu
    {
        background: var(--primaryColor);
    }
    .nav li li
    {
        height: 40vh;
    }
    .nav li li li
    {
        height: 10vh;
    }
    .nav li li li:hover
    {
        color: var(--primaryColor);
        background-color: white;
    }
    .navContent > .menu
    {
        left: -100vw;
        top: 100%;
    }
    .navContent > .menu.active
    {
        left: 0;
    }
    .nav li
    {
        padding: 20px 5%;
    }
    .nav .submenu
    {
        display: block;
        z-index: 1;
    }
    .nav .submenu.active, 
    .nav .submenu .submenu.active
    {
        top: 0 !important;
        left: 0 !important;
    }
    .nav .submenu .navSectionContent, 
    .nav .menuBackSectionContainer, 
    .nav .menu .menu
    {
        width: 100%;
    }
}
/* General Nav End */

/* Destinations Nav Start */
.nav .destinations .navSectionContent
{
    background-color: lightgray;
    /* background-image: url('../images/menu/img_mapa_destinos.png'); */
}
.nav .hotels .navSectionContent
{
    background-color: whitesmoke;
    position: relative;
}
.nav .navSectionContent > .menuBackSection {
    position: absolute;
    top: 0;
    right: 0;
}
/* Destinations Nav End */

/* About Nav Start */
.nav .about .menu
{
    display: flex;
}
.nav .about li
{
    display: flex;
    height: 100%;
    border: 1px solid transparent;
    font-size: 5vmin;
    transition: background 0.4s ease, padding 0.4s ease;
    color: white;
}
.nav .about li:hover
{
    color: white;
    background-color: rgba(0,0,0,0.6);
    border-color: var(--primaryColor);
    padding-bottom: 5vmin;
}
.nav .about li > a
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width: 850px), (orientation: portrait)
{
    .nav .about .menu
    {
        display:block;
    }
    .nav .about li
    {
        height: 40vh;
    }
}
/* About Nav End */

/* */
span.mapLocation {
    height: 10px;
    width: 10px;
    display: block;
    background-color: burlywood;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
}
span.mapLocation.ixtapa {
    top: 51.6%;
    right: 76.8%;
}
span.mapLocation.zihuatanejo {
    top: 77%;
    right: 59.4%;
}
.tooltip.fade.show {
    z-index: 1000000;
}
.underlined-small-left:after {
    content: '';
    display: block;
    height: 2px;
    margin-top: 3%;
    background-color: rgb(218, 216, 214);
    width: 10%;
}

@media only screen and (max-width: 900px), (orientation: portrait)
{
    .border-left, .border-right { border: none !important; }
}
.youtubeContainer {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtubeContainer > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.v-slide .youtubeContainer {
    min-width: 641px;
}
.idioma:hover, .idioma a.dropdown-item:hover {
    background-color: var(--primaryColor);
    color: white;
}

a#dropdownMenuLink:hover {
    color: inherit;
}

a#dropdownMenuLink:focus {
    box-shadow: none;
}

.idioma a.dropdown-item {
    padding: 6px 0;
}

a#dropdownMenuLink {
    font-size: inherit;
}

@media only screen and (min-width: 1200px){
    .slick-track figure {
        width: 750px;
    }
    .slick-track figure img {
        width: 100%;
    }
}

.fixedBannerLogo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 10%;
    z-index: 30;
    opacity: 0.3;
}

.smallFlag {
    width: 30px;
}