<div class="w-100 banner_section">
        <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/<?php echo utf8_encode($var["img_banner_general"]); ?>" alt="Ixtapa">
        <div class="message-banner" >
            <h1 class="text-uppercase text-white text-center w-100 m-0"><?php echo utf8_encode($var["nombre_destino"]); ?></h1>
            <hr class="line-text-message my-2" />
            <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">En un vistazo</p>
        </div>        
    </div>
</div>
<div class="w-100">
    <div class="container">
        <div class="row my-0 mx-0 p-0">
            <div class="col-lg-3 px-0">
                <?php include('../../views/navaside.html'); ?>
            </div>
            <div class="col-lg-9 p-0">
                <div class="w-100 px-2 px-lg-5">
                    <h2 class="px-2 px-lg-5 py-4 h-subtitle text-center font-weight-lighter"><?php echo utf8_encode($var["slogan_destino"]); ?></h2>
                    <div class="my-4 text-normal text-justify">
                        <?php echo utf8_encode($var["descripcion_destino"]); ?>
                    </div>
                    <!-- <p class="my-4 text-normal text-justify">Ixtapa, Zihuatanejo, la perla del pacífico. El único destino de playa que te ofrece dos paraísos en uno. Su historia es joven, fue planificada en los años setenta y desde entonces se ha posicionado como uno de los destinos de playa predilectos del turismo nacional y extranjero.</p>
                    <p class="my-4 text-normal">Pocos lugares en le mundo que combinen, montaña, selva y playa para hacer las delicias de sus visitantes. La calidez de su gente, su diversidad natural, y sus playas certificadas, harán que este hermoso destino se convierta en tu favorito.</p> -->
                </div> 
                <?php 
                    if((($destinos_gal->num_rows) > 0) || $id_destino == 2){
                        echo '<div class="w-100 p-0 mt-5">
                            <div class="slide-destinations">';
                        while($gal = mysqli_fetch_array($destinos_gal)){
                            echo '<figure class="v-slide" ><img src="'.$httpProtocol.$host.$url.''.'images/destinos/'.$gal["name"].'" alt="01"></figure>';
                        }
                        if($id_destino == 2){
                            echo '
                                <figure class="v-slide" ><div class="youtubeContainer">
                                    <iframe class="youtubeVideo" src="https://www.youtube.com/embed/K7m5PvsHBzU?autoplay=0&showinfo=0&controls=0&enablejsapi=1" frameborder="0" allow="encrypted-media; picture-in-picture"></iframe>
                                </div></figure>
                                <figure class="v-slide" ><div class="youtubeContainer">
                                    <iframe class="youtubeVideo" src="https://www.youtube.com/embed/_8PstdN3USA?autoplay=0&showinfo=0&controls=0&enablejsapi=1" frameborder="0" allow="encrypted-media; picture-in-picture"></iframe>
                                </div></figure>
                            ';
                        }
                        echo '</div>
                        </div>';
                    }
                ?>
                <div class="row p-0 mb-5">
                    <div class="col-lg-3">
                        <h2 class="my-4 subtitle-destinos">Destacados del <br>Resort</h2>
                    </div>
                    <div class="col-lg-9 p-0 ">
                        <div class="h-100 w-100 border-left border-gray">
                            <div class="row m-0 py-3">
                                <div class="col-lg-9 d-flex flex-wrap px-0">
                                    <ul class="list-unstyled col-md-12 col-lg-7 px-3">
                                        <?php if($id_destino == 1){ ?>
                                            <li><a class="link-resort font-italic" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/que-hacer/compras<?php echo $ext; ?>">Compras en la Boutique</a></li>
                                            <li><a class="link-resort font-italic" href="<?php echo $httpProtocol.$host.$url.$ln ?>entretenimiento<?php echo $ext; ?>">Entretenimiento</a></li>
                                            <li><a class="link-resort font-italic" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/ixtapa/gastronomia/el-faro<?php echo $ext; ?>">El mejor restaurant de Ixtapa</a></li>
                                        <?php }else{ ?>
                                            <li><a class="link-resort font-italic" href="<?php echo $httpProtocol.$host.$url.$ln ?>entretenimiento<?php echo $ext; ?>">Entretenimiento</a></li>
                                            <li><a class="link-resort font-italic" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/zihuatanejo/gastronomia/el-suspiro<?php echo $ext; ?>">Cena al atardecer con vista a la bahía</a></li>
                                        <?php } ?>
                                    </ul>
                                    <ul class="list-unstyled col-5 px-3">
                                        <li><a class="link-resort font-italic" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/spa<?php echo $ext; ?>">Relájate en el spa</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-12 col-lg-3 px-0">
                                    <div class="w-100 text-center">
                                        <img class="img-fluid" src="<?php echo $httpProtocol.$host.$url ?>images/items/map-icon.png" alt="map icon">
                                        <a class="btn_more_info" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/como-llegar<?php echo $ext; ?>">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 p-0 mt-5 section_gray">
                    <h3 class="text-center font-weight-lighter text-uppercase pt-5 pb-3 dest-title-gray m-0">
                        <?php if($id_destino == 1){ ?>
                            Conoce Pacífica Resort
                        <?php }else{ ?>
                            Conoce Pacífica Grand
                        <?php } ?>
                    </h3>
                </div>
                <?php 
                    if(($destinos_categ->num_rows) > 0){
                        echo '<div class="d-flex flex-wrap">';
                        while($varcat = mysqli_fetch_array($destinos_categ)){
                           echo '<figure class="w-50 card-rel">
                                <img class="img-fluid" src="'.$httpProtocol.$host.$url.'images/destinos/'.$varcat["imagen_categoria"].'" alt="Pacifica luxury suites">
                                <figcaption class="w-100 h-100 card-link">
                                    <a class="text-white text-center text-uppercase pt-5 w-100 d-block link-service" href="'.$httpProtocol.$host.$url.$ln.'destinos/'.$url_destino.'/'.$varcat["url_categoria"].''.$ext.'">'.utf8_encode($varcat["nombre_categoria"]).'</a>  
                                </figcaption>                            
                            </figure>'; 
                        }
                        echo '</div>'; 
                    }
                ?>
                <div class="w-100 p-0 mt-0 mb-4">
                    <h3 class="text-center font-weight-lighter text-uppercase pt-5 pb-3 dest-title-gray m-0">Destacados del destino</h3>
                </div>

                <div class="w-100 p-0 mt-5">
                    <div class="v-slider_card-out">
                        <article class="">
                            <div class="row">
                                <figure class="col-md-12 col-lg-6 m-0 pr-0 fig-card" ><img class="img-fluid" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/general/<?php echo utf8_encode($var["img_destacado_gastronomia"]); ?>" alt="00"></figure>
                                <div class="col-md-12 col-lg-6 h-100 card-dest-gray">
                                    <div class="description-card p-2 p-lg-3">
                                        <h4>Gastronomía</h4>
                                        <p class="my-4 text-normal text-justify"><?php echo utf8_encode($var["destacado_gastronomia"]); ?></p>
                                        <a class="btn_black_dest" href="<?php echo $httpProtocol.$host.$url.$ln.'destinos/'.$url_destino; ?>/gastronomia/">Más información</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <section class="col-md-12 col-lg-6  order-2 order-lg-1 card-white">
                        <div class="map-down px-4 text-right">
                            <h4 class="my-5 p-0 subtitle-card-white"><?php echo utf8_encode($var["mensaje_mapa"]); ?></h4>
                            <?php 
                                if($var["mapa"] != ""){
                                    echo '<a class="btn_black_dest" target="_blank" href="'.$httpProtocol.$host.$url.'pdf/mapa/'.$var["mapa"].'">Descargar mapa</a>';
                                }
                            ?>
                        </div>
                    </section>
                    <figure class="col-md-12 col-lg-6 card-rel pl-0 order-1 order-lg-2 m-0">
                        <img class="img-fluid" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/explora/<?php echo $var["img_mapa"]; ?>" alt="Pacifica luxury suites">
                    </figure>
                </div>    
            </div>
        </div>
    </div>
</div>