<div class="w-100 banner_fluid">
            <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/hoteles/<?php echo utf8_encode($destino["img_banner_habitaciones"]); ?>" alt="<?php echo utf8_encode($destino["nombre_destino"]); ?>">
            <div class="message-banner" >
                <h1 class="text-uppercase text-white text-center w-100 m-0"><?php echo utf8_encode($destino["nombre_destino"]); ?></h1>
                <hr class="line-text-message my-2" />
                <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">Habitaciones y suites</p>
            </div>        
        </div>
    <div class="w-100">
        <div class="container">
            <div class="row my-0 mx-0 p-0">
                <div class="col-lg-3 px-0">
                    <?php include('../../views/navaside.html'); ?>
                </div>
                <div class="col-lg-9 p-0">
                    <div class="w-100 px-5">
                        <h2 class="px-5 pt-4 pb-0 h-subtitle text-center font-weight-lighter"><?php echo utf8_encode($var["slogan_habitacion"]); ?></h2>
                        <h3 class="px-5 py-0 pb-3 h-subtitle2 text-center font-weight-lighter">Un desarrollo de Pacifica Resort</h3>
                        <div class="my-4 text-normal text-justify">
                            <?php echo utf8_encode($var["descripcion_habitacion"]); ?>
                        </div>
                    </div>

                    <?php 
                        if(($habitaciones_gal->num_rows) > 0){
                            echo '<div class="w-100 p-0 mt-5">
                                    <div class="slide-destinations">';
                            while($gal = mysqli_fetch_array($habitaciones_gal)){
                                echo '<figure class="v-slide" ><img src="'.$httpProtocol.$host.$url.''.'images/destinos/hoteles/habitaciones/galeria/'.$gal["name"].'" alt="01"></figure>';
                            }
                            echo '</div>
                        </div>';
                        }
                    ?>                    
                    <div class="row p-0 mb-5">
                        <div class="col-md-12 col-lg-6 text-md-left text-lg-right text-normal px-4">
                            <?php echo utf8_encode($var["detalles_habitacion"]);
                            $url_plano = "";
                            if($var["plano_habitacion"] != ""){
                                $url_plano = '<a class="text-decoration-none text-reset" href="'.$httpProtocol.$host.$url.'images/destinos/hoteles/habitaciones/plano/'.utf8_encode($var["plano_habitacion"]).'" target="_blank" ><strong class="btn_ver_plano">Ver plano <i class="fa fa-caret-down faborder"></i></strong></a>';
                            }
                            ?>
                            <p class="px-4">
                                <?php echo $url_plano; ?>
                            </p>
                        </div>
                        <div class="col-md-12 col-lg-6 p-0">
                            <div class=" w-100 border-left border-gray px-4 mb-5">   
                                <p class="text-normal">Precio para no miembros desde</p>
                                <p class="text-normal m-0 text-price-hotel font-weight-bold">$<?php echo number_format($var["precio_general"],2); ?> USD por noche</p>
                                <p class="text-normal text-u-mini">Llame para verificar la disponibilidad</p>
                            </div>
                            <div class=" w-100 px-4"> 
                                <span class="details-phone font-weight-bold">800-221-5830</span> 
                            </div>  
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>    