<div class="w-100 banner_fluid">
    <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/bodas/pacifica_bodas_main_banner.jpg" alt="Ixtapa">
    <div class="message-banner" >
        <h1 class="text-uppercase text-white text-center w-100 m-0">Your dream wedding</h1>
        <hr class="line-text-message my-2" />
        <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">IN PACÍFICA IXTAPA AND PACÍFICA GRAND</p>
    </div>
</div>
<div class="w-100">
    <div class="container">
        <h2 class="px-5 pt-5 pb-3 h-subtitle text-center font-weight-lighter">Request information</h2>
        <p class="my-4 text-normal text-center">Our team is more than ready to help you plan your dream wedding. Contact us to get a personalized quote and any additional information you may need of our wedding services.</p>
    </div>
</div>
<?php $fecha_actual = date("Y-m-d");  ?>
<div class="w-100 py-4 mt-5 section_gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <form id="form-contacto" class="form-contacto mt-4 mb-4" onsubmit="return sendEmailContact(this);">
                    <h6 class="primary-color text-normal mb-4"><i class="fas fa-asterisk fa-obl"></i> All marked fields are required.</h6>
                    <input type="hidden" name="tipo_contacto" value="bodas">
                    <input type="radio" name="es_socio" value="0" style="display: none;" checked>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Full name</label>
                        <input type="text" class="form-control" name="nombre" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Email</label>
                        <input type="email" class="form-control" name="correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Telephone</label>
                        <input type="tel" class="form-control" name="telefono" pattern="[0-9]{10}" minlength="10" maxlength="10" required placeholder="10 digits">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Date of event</label>
                        <input type="date" class="form-control" name="fecha_evento" required min="<?php echo $fecha_actual; ?>" >
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Backup dates (optional)</label>
                        <input type="date" class="form-control" name="fecha_respaldo" required min="<?php echo $fecha_actual; ?>" >
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Number of guests</label>
                        <input type="number" class="form-control" name="cantidad_invitados" pattern="[0-9]" value="0" min="0" required >
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal">Comments</label>
                        <textarea class="form-control" name="mensaje" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn_black_dest text-left w-100 mt-2">Send message to Pacífica</button>
                </form>
            </div>
            <div class="col-sm-0 col-md-4"></div>
        </div>
    </div>
</div>