<div class="w-100 banner_section">
        <!-- <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/pacifica_ixtapa_main_banner.jpg" alt="Ixtapa"> -->
        <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/<?php echo utf8_encode($var["img_banner_general"]); ?>" alt="<?php echo utf8_encode($var["nombre_destino"]); ?>">
        <div class="message-banner" >
            <h1 class="text-uppercase text-white text-center w-100 m-0"><?php echo utf8_encode($var["nombre_destino"]); ?></h1>
            <hr class="line-text-message my-2" />
            <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">Getting Here</p>
        </div>
    </div>
</div>
<div class="w-100">
    <div class="container">
        <div class="row my-0 mx-0 p-0">
            <div class="col-lg-3 px-0">
                <?php include('../../views/navaside.html'); ?>
            </div>
            <div class="col-lg-9 p-0">
                <div class="w-100 px-5">
                    <h2 class="px-5 py-4 h-subtitle text-center font-weight-lighter">Directions and Contact</h2>
                </div>
                <div class="d-flex flex-wrap p-0 mb-5">
                    <div class="col-12 col-lg-8 text-right text-normal p-0">
                        <div class="w-100 d-block" id="map">
                            <?php 
                                if($id_destino == 1){
                            ?>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3801.9687512960927!2d-101.601052685269!3d17.65163898792079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8434768b8d425a25%3A0x3a46b6c999233ae4!2sPacifica%20Resort%20Ixtapa!5e0!3m2!1sen!2sus!4v1573172560848!5m2!1sen!2sus" width="100%" height="420" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            <?php 
                                }else if($id_destino == 2){
                            ?>
                                <iframe src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3802.6016587350296!2d-101.55015398526945!3d17.621640687938545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84347737d13f4f49%3A0x788807cf48f3c5b3!2sPac%C3%ADfica%20Grand%20Zihuatanejo!5e0!3m2!1sen!2sus!4v1573172616891!5m2!1sen!2sus" width="100%" height="420" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            <?php 
                                }
                            ?>
                        </div>
                        <section class="w-100 d-block card-normal-gray">
                            <div class="map-down px-4 text-left">
                                <h4 class="m-0 pt-2 subtitle-card-normal">
                                    <?php 
                                        if($id_destino == 1){
                                            echo 'Pacífica Resort Ixtapa';
                                        }else if($id_destino == 2){
                                            echo 'Pacífica Grand';
                                        }
                                    ?>
                                </h4>
                                <p class="text-normal my-4 text-justify text-mini">
                                    <?php 
                                        if($id_destino == 1){
                                            echo 'Paseo de la Colina S/N, Vista Hermosa, 40880, Ixtapa Zihuatanejo, Gro. México.';
                                        }else if($id_destino == 2){
                                            echo 'Plotes 11 and 12 Block 7, Super Block 12 Residential development La Ropa Zihuatanejo, Gro. ZIP Code 40880';
                                        }
                                    ?>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-12 col-lg-4 p-0">
                        <div class="w-100 px-4 py-3 bg-nav-head text-white">
                            <h3 class="text-center font-weight-lighter title_nv_contact">Quick References</h3>
                        </div>
                        <div class="w-100 px-4 pb-3 bg-nav-cont text-white">
                            <div class="border-bottom">
                                <a id="ds_plane" onclick="Mostrar_panel(this,ds_plane)" class="text-white py-3 text-coco text-decoration-none d-block active_up" href="#info-airport"  data-toggle="collapse" aria-expanded="false" >Airport Info</a>
                                <div class="collapse text-normal" id="info-airport">
                                    <p class="py-2">
                                        Ixtapa-Zihuatanejo International Airport<br><br>
                                        IATA Code: ZIH National Acapulco Highway.
                                        Airport detour, 40880 Zihuatanejo Gro., México.<br><br>
                                        +52 755-554-2070
                                    </p>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <a id="ds_envelope" onclick="Mostrar_panel(this,ds_envelope)" class="text-white py-3 text-coco text-decoration-none d-block active_up" href="#info-contact"  data-toggle="collapse" aria-expanded="false" >Contact Info</a>
                                <div class="collapse text-normal" id="info-contact">
                                    <p class="py-2">
                                        <?php 
                                            if($id_destino == 1){
                                                echo 'Paseo de la Colina S/N, Vista Hermosa, 40880, Ixtapa Zihuatanejo, Gro. México.<br><br>800-221-5830';
                                            }else if($id_destino == 2){
                                                echo 'Plotes 11 and 12 Block 7, Super Block 12 Residential development La Ropa Zihuatanejo, Gro. ZIP Code 40880<br><br><strong>Telephones:</strong><br>+52 755-103-6022<br>+52 755-103 6023<br><strong>Fax:</strong><br>+52 755-103-60-24';
                                            }
                                        ?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-100 mb-5 mt-5">
                    <div class="d-flex flex-wrap">
                        <figure class="col-md-12 col-lg-6 card-rel m-0 p-0">
                            <img class="img-fluid" src="<?php echo $httpProtocol.$host.$url.''.'images/destinos/como-llegar/destino_ixtapa_como_llegar_entrada.jpg';  ?>" alt="01">
                        </figure><section class="col-md-12 col-lg-6 card-dest-gray">
                            <div class="map-down px-4 text-left">
                                <h4 class="m-0 pt-4 subtitle-card-bottom">Entrance</h4>
                                <p class="text-normal my-4 text-justify text-mini">Guests may arrive through the gate located in Boulevard Ixtapa.</p>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row p-0 mb-5">
                    <div class="col-12 text-right text-normal px-4">
                        <h3 class="text-center font-weight-lighter text-uppercase p-3 dest-title-gray mb-3 border-bottom">Things to know</h3>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 p-0">
                        <div class="h-100 w-100 border-gray px-3 py-2 text-justify text-normal text-mini"> 
                            <p>A passport is required for traveling to Mexico, including children.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 p-0">
                        <div class="h-100 w-100 border-left border-gray px-3 py-2 text-justify text-normal text-mini"> 
                            <p>When you pass through immigration, the officer will give you a portion of your entrance form. Please keep it somewhere safe, as you’ll need it to leave the country.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 p-0">
                        <div class="h-100 w-100 border-left border-gray px-3 py-2 text-justify text-normal text-mini"> 
                            <p>Creating safe and healthy environments for our guests is very important to us. Because of this, all our rooms and restaurants are stocked with purified bottled water.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>