<div class="w-100 banner_fluid">
    <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/contact/pacifica_contacto_main_banner.jpg" alt="Ixtapa">
    <div class="message-banner" >
        <h1 class="text-uppercase text-white text-center w-100 m-0">Contact us</h1>
        <hr class="line-text-message my-2" />
    </div>        
</div>
<div class="w-100">
    <div class="container">
        <h2 class="px-5 pt-5 pb-3 h-subtitle text-center font-weight-lighter">Let us help.</h2>
        <p class="my-4 text-normal text-center">We are ready to answer all your questions and concerns through the following channels.</p>
        <p class="mb-4 text-line-bottom text-center font-weight-bolder">Contact us</p>
    </div>
</div>
<div class="w-100 py-5 mt-5 section_gray">
    <div class="container">
        <p class="mb-4 text-center font-weight-bolder">Reservations, Debt collection and Food and Beverages Packages sales</p>
        <p class="my-4 text-normal text-center mg-p lnk-c">
            Our Custome Service hours go from 9 AM to 7 PM (Mexico City’s local time) from Monday to Friday<br>
            and from 9 AM to 3 PM (Mexico City’s local time) on Saturday and Sunday.<br><br>
            <strong><a target="_blank" href="mailto:customerservice@pacifica.com.mx">customerservice@pacifica.com.mx</a></strong><br><br> </p>
        <p class="mb-4 text-center font-weight-bolder">Sales</p>
        <p class="my-4 text-normal text-center lnk-c">
                Ixtapa 755-555-2500<br>
                <strong><a target="_blank" href="mailto:servicio.ventas@pacifica.com.mx">servicio.ventas@pacifica.com.mx</a></strong></p>
    </div>
</div>
<div class="w-100 py-5">
    <div class="container">
        <p class="mb-4 text-line-bottom text-center font-weight-bolder">Get in touch.</p>
        <div class="row">
            <div class="col-sm-0 col-md-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <form id="form-contacto" class="form-contacto mt-4 mb-4" onsubmit="return sendEmailContact(this);">
                    <h6 class="primary-color text-normal mb-4"><i class="fas fa-asterisk fa-obl"></i> All marked fields are required.</h6>
                    <input type="hidden" name="tipo_contacto" value="contacto">
                    <input type="hidden" name="telefono" value="">
                    <input type="hidden" name="fecha_evento" value="">
                    <input type="hidden" name="fecha_respaldo" value="">
                    <input type="hidden" name="cantidad_invitados" value="0">
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Full name</label>
                        <input type="text" class="form-control" name="nombre" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal">Are you a member of our owner’s club?</label>
                        <div class="w-100">
                            <div class="form-check form-check-inline mr-5">
                                <input class="form-check-input" type="radio" name="es_socio" id="inlineRadio1" value="1" required>
                                <label class="form-check-label text-normal" for="inlineRadio1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="es_socio" id="inlineRadio2" value="0">
                                <label class="form-check-label text-normal" for="inlineRadio2">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Email</label>
                        <input type="email" class="form-control" name="correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal">Message</label>
                        <textarea class="form-control" name="mensaje" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn_black_dest text-left w-100 mt-2">Send message to Pacífica</button>
                </form>
            </div>
            <div class="col-sm-0 col-md-4"></div>
        </div>
    </div>
</div>