<div class="w-100 my-5 py-5">
    <h1 class="text-center mt-4 font-weight-bold" style="font-family: 'CocomatLight';">We appreciate you contacting us!</h1>
    <h3 class="text-center mt-3 mb-4" style="font-family: 'Muli', sans-serif;">Your message was successfully sent.</h3>
</div>