<footer id="my-footer">
    <div class="text-left text-white">
        <div class="container">
            <div class="row p-0 m-0">
                <div class="col-md-3 pb-5">
                    <div class="w-100 h-100 border-right border-black">
                    <h4 class="text-uppercase pt-4 pb-2 fontco">Destinations</h4>
                    <ul class="list-unstyled text-left mt-5 footer-nav">
                        <li class="mb-3"><a class="text-decoration-none text-uppercase text-white" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/ixtapa/">Ixtapa Zihuatanejo</a></li>
                        <li class="mb-3"><a class="text-decoration-none text-uppercase text-white" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/zihuatanejo/">Zihuatanejo</a></li>
                    </ul>
                    </div> 
                </div>
                <div class="col-md-3 pb-5">
                    <div class="w-100 h-100 border-right border-black">
                    <h4 class="text-uppercase pt-4 pb-2 fontco">Hotels</h4>
                    <ul class="list-unstyled text-left mt-5 footer-nav">
                        <li class="mb-3"><a class="text-decoration-none text-uppercase text-white" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/ixtapa/luxury-suites<?php echo $ext; ?>">Pacífica resort luxury</a></li>
                        <li class="mb-3"><a class="text-decoration-none text-uppercase text-white" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/ixtapa/premium-suites<?php echo $ext; ?>">Pacífica resort premium</a></li>
                        <li class="mb-3"><a class="text-decoration-none text-uppercase text-white" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/zihuatanejo/pacifica-grand<?php echo $ext; ?>">Pacífica grand</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-md-3 pb-5">
                    <h4 class="text-uppercase pt-4 pb-2 fontco">Gastronomy</h4>
                    <ul class="list-unstyled text-left mt-5 footer-nav">
                        <?php 
                            $menu_footer = new Menu();
                            $con_footer = $menu_footer ->nav_items_restaurants($bd,"");
                            while($vfoo = mysqli_fetch_array($con_footer)){
                                echo '<li class="mb-3"><a class="text-decoration-none text-uppercase text-white" href="'.$httpProtocol.$host.$url.$ln.'destination/'.utf8_encode($vfoo["url_destino"]).'/gastronomy/'.$vfoo["url_restaurante"].'">'.utf8_encode($vfoo["nombre_restaurante"]).'</a></li>';
                            }
                        ?>
                    </ul>
                </div>
                <div class="col-md-3 pb-5" id="contact-footer">
                    <div class="w-100 h-100 pl-3">
                        <h4 class="text-uppercase pt-4 pb-2 fontco">Contact us</h4>
                        <ul class="list-unstyled text-left mt-5 mb-3 social-footer">
                            <li class="d-inline pr-2"><a class="text-white" target="_blank" href="https://www.instagram.com/pacificaresorts/"><i class="fab fa-instagram"></i></a></li>
                            <li class="d-inline pr-2"><a class="text-white" target="_blank" href="https://www.facebook.com/PacificaResortIxtapa/"><i class="fab fa-facebook-square"></i></a></li>
                            <li class="d-inline pr-2"><a class="text-white" target="_blank" href="https://www.youtube.com/user/ThePacificaResorts"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <p class="fontmul pb-2 border-bottom telfoot">
                            MEX 800-221-5830<br>
                            USA  1-877-387-2370<br>
                            CAN  1-866-924-8888
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 m-0 footer-cp">
            <div class="col-md-12 text-center pt-4 pb-4" id="footer-brand">
                <img src="<?php echo $httpProtocol.$host.$url?>images/brand/pacifica_logo_footer.png" alt="pacifica resort ixtapa">
            </div>
            <div class="col-md-12 text-center pt-4 pb-3" id="footer-privacy">
                <p class="text-center text-uppercase mb-2"><a class="text-white" href="<?php echo $httpProtocol.$host.$url.$ln ?>privacy-notice<?php echo $ext; ?>">Privacy Notice</a></p>
                <p class="text-center mb-1">Copyright &copy; Pacífica - All rights reserved. | <a class="text-white" href="<?php echo $httpProtocol.$host ?>/landing/other-information<?php echo $ext; ?>">Other Information.</a></p>
            </div>
        </div>
    </div>
</footer>