<div class="w-100 banner_fluid">
    <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/hoteles/<?php echo utf8_encode($destino["img_banner_habitaciones"]); ?>" alt="<?php echo utf8_encode($destino["nombre_destino"]); ?>">
    <div class="message-banner" >
        <h1 class="text-uppercase text-white text-center w-100 m-0"><?php echo utf8_encode($destino["nombre_destino"]); ?></h1>
        <hr class="line-text-message my-2" />
        <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">Rooms and suites</p>
    </div>        
</div>
<div class="w-100">
    <div class="container">
        <div class="row my-0 mx-0 p-0">
            <div class="col-lg-3 px-0">
                <?php include('../../views/navaside.html'); ?>
            </div>
            <div class="col-lg-9 p-0">
                <div class="w-100 px-2 px-lg-5">
                    <h2 class="px-5 py-4 h-subtitle text-center font-weight-lighter"><?php echo utf8_encode($var["nombre_categoria"]); ?></h2>
                    <p class="mb-4 text-line-bottom text-center">
                        <?php if($id_destino == 1){ ?>
                            Enjoy the ultimate relaxing experience in Ixtapa
                        <?php }else{ ?>
                            Rest surrounded by the peaceful beauty of Zihuatanejo
                        <?php } ?>
                    </p>
                    <div class="my-4 text-normal text-justify"><?php echo utf8_encode($var["descripcion_categoria_en"]); ?></div>
                </div>
                <?php 
                    if(($habitaciones_gal->num_rows) > 0){
                        echo '<div class="w-100 p-0 mt-5">
                                <div class="slide-destinations">';
                                while($gal = mysqli_fetch_array($habitaciones_gal)){
                                    echo '<figure class="v-slide" ><img src="'.$httpProtocol.$host.$url.''.'images/destinos/suites/galeria/'.$gal["name"].'" alt="01"></figure>';
                                }
                        echo '</div>
                    </div>';
                    }
                ?>
                <div class="w-100 mb-lg-5">
                    <?php 
                        $cantidad = 0;
                        while($var = mysqli_fetch_array($consulta)){
                            $tipo_gal = $consulta_gal_hab->imagen_random_tipo($bd,$var["id_tipo_habitacion"]);
                            if(($cantidad % 2) == 0){
                                echo '<div class="row">';
                                if(($tipo_gal->num_rows) > 0){  
                                $vgal = mysqli_fetch_array($tipo_gal);      
                                echo   '<figure class="col-md-12 col-lg-6 card-rel m-0 p-0">
                                            <img class="img-fluid" src="'.$httpProtocol.$host.$url.''.'images/destinos/hoteles/habitaciones/galeria/'.$vgal["name"].'" alt="01" >
                                        </figure>';
                                }
                                echo    '<section class="col-md-12 col-lg-6 card-dest-gray">
                                            <div class="map-down px-4 text-left">
                                                <p class="m-0 p-0 text-uppercase text-mini">Where to stay</p>
                                                <h4 class="m-0 p-0 subtitle-card-bottom">'.utf8_encode($var["nombre_tipo"]).'</h4>
                                                <p class="text-normal my-4 text-justify text-mini">'.utf8_encode($var["mensaje_tipo_en"]).'</p>
                                                <a class="btn_black_dest" href="'.$httpProtocol.$host.$url.$ln.''.'destination/'.$url_destino.'/'.utf8_encode($var["url_tipo"]).'">More Information</a>
                                            </div>
                                        </section>
                                    </div>';
                            }else{
                                echo '<div class="row">
                                        <section class="col-md-12 col-lg-6 order-2 order-lg-1 card-white">
                                            <div class="map-down px-4 text-left">
                                                <p class="m-0 p-0 text-uppercase text-mini">Where to stay</p>
                                                <h4 class="m-0 p-0 subtitle-card-bottom">'.utf8_encode($var["nombre_tipo"]).'</h4>
                                                <p class="text-normal my-4 text-justify text-mini">'.utf8_encode($var["mensaje_tipo_en"]).'</p>
                                                <a class="btn_black_dest" href="'.$httpProtocol.$host.$url.$ln.''.'destination/'.$url_destino.'/'.utf8_encode($var["url_tipo"]).'">More Information</a>
                                            </div>
                                        </section>';
                                if(($tipo_gal->num_rows) > 0){  
                                    $vgal = mysqli_fetch_array($tipo_gal);       
                                    echo '<figure class="col-md-12 col-lg-6 card-rel order-1 order-lg-2 m-0 p-0">
                                                <img class="img-fluid" src="'.$httpProtocol.$host.$url.''.'images/destinos/hoteles/habitaciones/galeria/'.$vgal["name"].'" alt="01" >
                                            </figure>';
                                }
                                echo  '</div>';
                            }
                            $cantidad++;   
                        }
                    ?>
                    <?php if($id_destino == 1){ ?>
                        <?php if($id_categoria == 1){ ?>
                            <div class="row">
                                <section class="col-md-12 col-lg-6 order-2 order-lg-1 card-white">
                                    <div class="map-down px-4 text-left">
                                        <p class="m-0 p-0 text-uppercase text-mini">Where to swim</p>
                                        <h4 class="m-0 p-0 subtitle-card-bottom">Pools in Pacífica Resort Luxury</h4>
                                        <p class="text-normal my-4 text-justify text-mini">Relax while swimming in our spectacular pool or have fun participating in the daily activities that our staff has prepared for you.</p>
                                        <a class="btn_black_dest" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/ixtapa/what-to-do/pools<?php echo $ext; ?>">More Information</a>
                                    </div>
                                </section>
                                <figure class="col-md-12 col-lg-6 order-1 order-lg-2 card-rel m-0 p-0">
                                    <img class="img-fluid" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/hoteles/pacifica_ixtapa_luxury_destacado_albercas.jpg" alt="Pacifica luxury suites">
                                </figure>
                            </div>
                        <?php }else{ ?>
                            <div class="row">
                                <figure class="col-md-12 col-lg-6 order-2 order-lg-1 card-rel m-0 p-0">
                                    <img class="img-fluid" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/hoteles/pacifica_ixtapa_luxury_destacado_albercas.jpg" alt="Pacifica luxury suites">
                                </figure>
                                <section class="col-md-12 col-lg-6 order-1 order-lg-2 card-white">
                                    <div class="map-down px-4 text-left">
                                        <p class="m-0 p-0 text-uppercase text-mini">Where to swim</p>
                                        <h4 class="m-0 p-0 subtitle-card-bottom">Pools in Pacífica Resort Premium</h4>
                                        <p class="text-normal my-4 text-justify text-mini">Relax while swimming in our spectacular pool or have fun participating in the daily activities that our staff has prepared for you.</p>
                                        <a class="btn_black_dest" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/ixtapa/what-to-do/pools<?php echo $ext; ?>">More Information</a>
                                    </div>
                                </section>
                            </div>  
                        <?php } ?>
                    <?php }else{ ?>
                        <div class="row">
                            <figure class="col-md-12 col-lg-6 order-2 order-lg-1 card-rel m-0 p-0">
                                <img class="img-fluid" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/hoteles/pacifica_ixtapa_luxury_destacado_albercas.jpg" alt="Pacifica luxury suites">
                            </figure>
                            <section class="col-md-12 col-lg-6 order-1 order-lg-2 card-white">
                                <div class="map-down px-4 text-left">
                                    <p class="m-0 p-0 text-uppercase text-mini">Where to swim</p>
                                    <h4 class="m-0 p-0 subtitle-card-bottom">Pools in Pacífica Grand</h4>
                                    <p class="text-normal my-4 text-justify text-mini">Relax while swimming in our spectacular pool or have fun participating in the daily activities that our staff has prepared for you.</p>
                                    <a class="btn_black_dest" href="<?php echo $httpProtocol.$host.$url.$ln ?>destination/zihuatanejo/what-to-do/pools<?php echo $ext; ?>">More Information</a>
                                </div>
                            </section>
                        </div>  
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>