<div class="w-100 banner_fluid">
    <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/hoteles/<?php echo utf8_encode($destino["img_banner_habitaciones"]); ?>" alt="<?php echo utf8_encode($destino["nombre_destino"]); ?>">
    <div class="message-banner" >
        <h1 class="text-uppercase text-white text-center w-100 m-0"><?php echo utf8_encode($destino["nombre_destino"]); ?></h1>
        <hr class="line-text-message my-2" />
        <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">Rooms and suites</p>
    </div>        
</div>
<div class="w-100">
    <div class="container">
        <div class="row my-0 mx-0 p-0">
            <div class="col-lg-3 px-0">
                <?php include('../../views/navaside.html'); ?>
            </div>
            <div class="col-lg-9 p-0">
                <div class="w-100 px-2 px-lg-5">
                    <h2 class="px-5 py-4 h-subtitle text-center font-weight-lighter"><?php echo utf8_encode($var["slogan_tipo_en"]); ?></h2>
                    <div class="my-4 text-normal text-justify">
                        <?php echo utf8_encode($var["descripcion_tipo_en"]); ?>
                    </div>
                </div>
                <div class="w-100 mb-5 mt-5">
                    <?php 
                        $cantidad = 0;
                        while($varh = mysqli_fetch_array($habitaciones)){
                            $hab_gal = $consulta_gal->imagen_random_producto($bd,$varh["id_habitacion"]);
                            if(($cantidad % 2) == 0){
                                echo '<div class="row my-3">';
                                if(($hab_gal->num_rows) > 0){  
                                    $vgal = mysqli_fetch_array($hab_gal);      
                                    echo  '<figure class="col-md-12 col-lg-6 card-rel pr-0 m-0">
                                        <img class="img-fluid" src="'.$httpProtocol.$host.$url.''.'images/destinos/hoteles/habitaciones/galeria/'.$vgal["name"].'" alt="01" >
                                    </figure>';
                                }
                                echo '<section class="col-md-12 col-lg-6 card-dest-gray">
                                        <div class="map-down px-4 text-left">
                                            <p class="m-0 p-0 text-uppercase text-mini">Rooms and suites</p>
                                            <h4 class="m-0 p-0 text-uppercase subtitle-card-bottom">'.utf8_encode($varh["nombre_habitacion"]).'</h4>
                                            <p class="text-normal my-4 text-justify text-mini">'.utf8_encode($varh["mensaje_habitacion_en"]).'</p>
                                            <a class="btn_black_dest w-75" href="'.$httpProtocol.$host.$url.$ln.''.'destination/'.$url_destino.'/'.utf8_encode($varh["url_habitacion"]).'">Full room details</a>
                                        </div>
                                    </section>
                                </div>';
                            }else{
                                echo '<div class="row my-3">
                                        <section class="col-md-12 col-lg-6 order-2 order-lg-1  card-white">
                                            <div class="map-down px-4 text-left">
                                                <p class="m-0 p-0 text-uppercase text-mini">Rooms and suites</p>
                                                <h4 class="m-0 p-0 text-uppercase subtitle-card-bottom">'.utf8_encode($varh["nombre_habitacion"]).'</h4>
                                                <p class="text-normal my-4 text-justify text-mini">'.utf8_encode($varh["mensaje_habitacion_en"]).'</p>
                                                <a class="btn_black_dest w-75" href="'.$httpProtocol.$host.$url.$ln.''.'destination/'.$url_destino.'/'.utf8_encode($varh["url_habitacion"]).'">Full room details</a>
                                            </div>
                                        </section>';
                                if(($hab_gal->num_rows) > 0){  
                                            $vgal = mysqli_fetch_array($hab_gal);    
                                    echo   '<figure class="col-md-12 col-lg-6 order-1 order-lg-2 card-rel m-0 pl-0">
                                            <img class="img-fluid" src="'.$httpProtocol.$host.$url.''.'images/destinos/hoteles/habitaciones/galeria/'.$vgal["name"].'" alt="01" >
                                        </figure>';
                                }
                                echo   '</div>';
                            }
                            $cantidad++;   
                        }

                    ?>
                </div>
            </div>
        </div>
    </div>
</div>