<div class="w-100 banner_fluid">
    <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/destinos/gastronomia/gastronomia_ixtapa_main_banner.jpg" alt="<?php echo utf8_encode($destino["nombre_destino"]); ?>">
    <div class="message-banner" >
        <h1 class="text-uppercase text-white text-center w-100 m-0"><?php echo utf8_encode($destino["nombre_destino"]); ?></h1>
        <hr class="line-text-message my-2" />
        <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">Gastronomía</p>
    </div>        
</div>
<div class="w-100">
    <div class="container">
        <div class="row my-0 mx-0 p-0">
            <div class="col-lg-3 px-0">
                <?php include('../../../views/navaside.html'); ?>
            </div>
            <div class="col-lg-9 p-0">
                <div class="w-100 px-5">
                    <h2 class="px-5 py-4 h-subtitle text-center font-weight-lighter"><?php echo utf8_encode($var["nombre_restaurante"]); ?></h2>
                    <p class="mb-4 text-line-bottom text-center"><?php echo utf8_encode($var["mensaje_restaurante"]); ?></p>
                    <div class="my-4 text-normal text-justify"><?php echo utf8_encode($var["descripcion_restaurante"]); ?></div>
                </div>
                <?php 
                    if(($con_galeria->num_rows) > 0){
                        echo '
                            <div class="w-100 p-0 mt-5">
                                <div class="slide-destinations">
                        ';
                        while($gal = mysqli_fetch_array($con_galeria)){
                            if($gal["tipo"] == "imagen"){
                                echo '<figure class="v-slide" ><img src="'.$httpProtocol.$host.$url.''.'images/destinos/gastronomia/galeria/'.$gal["name"].'" alt="01"></figure>';
                            }else if($gal["tipo"] == "youtube"){
                                echo '
                                    <figure class="v-slide" >
                                        <div class="youtubeContainer">
                                            <iframe class="youtubeVideo" src="'.$gal["name"].'?autoplay=0&showinfo=0&controls=0&enablejsapi=1" frameborder="0" allow="encrypted-media; picture-in-picture"></iframe>
                                        </div>
                                    </figure>
                                ';
                            }
                        }
                        echo '
                                </div>
                            </div>
                        ';
                    }
                ?>
                <?php 
                    if(($con_platillo->num_rows) > 0){
                        $vpl = mysqli_fetch_array($con_platillo);
                        echo '<div class="row">
                            <section class="col-md-12 col-lg-6 order-2 order-lg-1 card-white text-md-center">
                                <div class="map-down px-4 text-right">
                                    <p class="m-0 p-0 text-uppercase text-mini">Platillo destacado</p>
                                    <h4 class="m-0 p-0 subtitle-card-bottom line-bottom-r">'.utf8_encode($vpl["nombre_platillo"]).'</h4>
                                    <p class="text-normal my-4 text-mini">'.utf8_encode($vpl["descripcion_platillo"]).'</p>
                                </div>
                            </section>
                            <figure class="col-md-12 col-lg-6 order-1 pl-0 order-lg-2 card-rel m-0">
                                <img class="img-fluid" src="'.$httpProtocol.$host.$url.''.'images/destinos/gastronomia/platillos/'.$vpl["foto_platillo"].'" alt="01" >
                            </figure>
                        </div>';
                    }
                ?>
                <?php
                    if($var["horario_restaurante"] != ""){
                        echo '<div class="w-100 p-0 pb-5 section_gray">
                            <h3 class="text-center text-line-bottom  font-weight-normal pt-5 pb-3 rest-title-gray m-0">Información</h3>
                            <p class="text-normal my-4 text-center text-mini">'.utf8_encode($var["horario_restaurante"]).'</p>
                        </div>';
                    }
                ?>
            </div>     
        </div>
    </div>
</div>