textarea.form-control {
    height: 108px;
}


.permissionTable thead tr th, .permissionTable tbody tr td {
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    border-right: 1px dotted rgba(0,0,0,0.2);
    padding: 3px;
}
.permissionTable thead tr th:not(:first-child), .permissionTable tbody tr td:not(:first-child) {
    width: 15%;
    text-align: center;
}
.passwordBtnBlock {
    font-size: 1.5em;
    padding: 6px;
    cursor: pointer;
}


