:root{
    --status-sa: #999;
    --status-a: #15AFB7;
    --status-r: #E4A112;
    --status-d: #B92734;
    --status-ie: #D55500;
    --status-v: #5cb85c;
}
.symbology {
    float: right;
    width: 50%;
}
.symbology li {
    float: right;
    width: auto;
    list-style: outside none none;
    margin: 4px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    padding: 6px;
}
.filters {
    float: left;
    width: 50%;
}
.filters select, .filters label {
    width: 100%;
}
#form_generales h4 {
    margin-top: 18px;
    float: left;
    width: 100%;
    padding: 0 1%;
    color: rgb(46, 146, 144);
}
#form_generales *[readonly]{
    background-color: #F8F8F8;
}
i.statusActual {
    font-size:23px;
}
i.statusActual.status-sa {
    color: var(--status-sa);
}
i.statusActual.status-a {
    color: var(--status-a);
}
i.statusActual.status-r {
    color: var(--status-r);
}
i.statusActual.status-d {
    color: var(--status-d);
}
i.statusActual.status-ie {
    color: var(--status-ie);
}

#detalle_cotizacion, #detalle_proyecto {
    float: right;
    width: 100%;
    display: inline-table;
    padding: 0 calc(1% + 24px);
}
#detalle_cotizacion div.detail {
    display: inline-block;
    vertical-align: top;
    width: calc(20% - 12px);
    margin: 6px;
    text-align: center;
    padding: 6px;
}
#detalle_proyecto div.detailProject {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 12px);
    margin: 6px;
    text-align: center;
    padding: 6px;
}
#detalle_proyecto div.detailProject img {
    width: 30%;
    height: initial;
    background-color: cadetblue;
}
#detalle_proyecto div.detailProject label.title {
    vertical-align: top;
    margin-top: 6px;
}
#detalle_proyecto div.detailProject label.info {
    text-align: left;
    font-weight: 300;
    font-size: 0.9em;
}
#detalle_proyecto div.detailProject label.info span.infoName {
    font-weight: 600;
}
#detalle_proyecto div.detailProject label.info span.tag {
    /* width: 100%; */
    padding-left: 20px;
}
#detalle_proyecto div.detailProject div.info {
    width: calc(70% - 12px);
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
}