.auto {
    float: right;
}
.grafica {
    float: left;
    width: 85%;
}
.cotizaciones_mes {
    float: left;
    width:  100%;
    margin: 20px 0 0;
}
.col_dhs {
    text-align: center;
    padding: 40px 10px;
    border-right: 1px solid #ddd;
    margin: 10px 0px;
    transition: background 0.1s ease-in-out;
}
.col_dhs:last-child {
    border: none;
}
.col_dhs.boton:hover {
    background: #01B6AD;
    color: #fff;
    text-decoration: none;
}
.col_dhs.activo {
    opacity: 0.7;
    pointer-events: none;
    font-weight: 600;
    background: #01B6AD;
    color: #fff;
    text-decoration: none;
}
.boton i {
    margin: 0 10px;
}
.datos_rapidos {
    float: left;
    width: 100%;
    padding: 10px 15px;
    border-top: 1px solid #ebebeb;
}

h1 {
    margin: 0;
    font-size: 20px;
    margin: 10px 0;
}
.filtros.col-lg-4 {
    float: right;
    text-align: right;
}

.datos_rapidos select {
    font-size: 16px;
    padding: 2px;
    border: 1px solid #ebebeb;
}
.datos {
    float: right;
    width: 15%;
    text-align: center;
    display: none;
}
.ccc label {
    font-weight: 300;
    font-size: 16px;
}
.ccc {
    max-height: 300px;
    height: 300px;
    padding: 20px 0;
    background: #0A4958;
    color: #ebebeb;
}
.ccc strong {
    float: left;
    width: 100%;
    font-size: 20px;
}
.formularios_contacto, .productos, .usuarios, .categorias{
    float: left;
    width: 20%;
    padding: 36px 0;
    max-height: 100px;
    height: 100px;
    text-align: center;
    background: #f9f9f9;
    color: #444;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    display: none;
}
.usuarios {
    border-right: none;
}
.formularios_contacto strong, .productos strong, .usuarios strong, .categorias strong{
    color: #DA542F;
}
.formularios_contacto label, .productos label, .usuarios label, .categorias label {
    font-size: 18px;
    font-weight: 300;
}
.cccc.sin_atender {}
.cccc {
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
.cccc.vendidas {
    border-right: none;
}
.cccc strong {
    float: left;
    width: 100%;
    font-size: 26px;
    color: #D55500;
}
