@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
body {
    margin: 0;
}
body {
    background: rgba(0, 0, 0, 0) url("../images/consolapacifica.jpg") no-repeat center fixed;
    background-size: cover;
    color: #333;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.container {
    margin: 0 auto;
    width: 1170px;
}
.form-signin-heading img {
    max-width: 300px;
}
.form-signin {
    background: #f7f7f7;
    /* background: #f5f7f9 none repeat scroll 0 0; */
    border: 1px solid #dedede;
    box-shadow: 0 1px 2px rgba(57, 62, 69, 0.25);
    height: 410px;
    margin: 8% 0 0 auto;
    width: 380px;
    position: relative;
}
#recuperarCuenta {
    margin: 3% auto;
    height: 460px;
}
.frm_footer {
    float: left;
    text-align: left;
    width: 97%;
}
.kap-lnkg {
    color: #757575;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}
.subt_lgk {
    color: #5d5d5d;
    float: left;
    font-size: 20px;
    margin: 8px 0 20px 0;
    text-align: center;
    width: 100%;
}
.kap-lnk {
    color: #008cdd;
    float: left;
    margin: 5px 0 0;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}
.kap-lnk:hover{
    text-decoration: underline;
}
.containt_pac{
    padding: 0 15px 0 15px;
}
.subt_lgk span {
    font-size: 14px;
    font-weight: 500;
}
.form-signin-heading {
    font-weight: 600;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    background-color: rgba(2,44,75,1);
    padding: 15px 0 15px 0;
    margin: 0 0 15px 0;
}
/*.form-signin-heading img {
    width: 120px;
}*/
.sr-only {
    color: #5d5d5d;
    float: left;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px;
    width: 100%;
}
.frmc-login {
    height: 30px !important;
    margin: 0 0 15px;
}
.form-control {
    background-color: #fafbfb;
    border: 1px solid #c5cad0;
    box-shadow: 4px 0 0 0 rgba(2,44,75,1) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: calc(100% - 30px);
    margin: 0 0 35px 0;
    background-color: white;
}
.form-control:focus{
    outline-color: #c5cad0;
}
.btn-group-lg > .btn, .btn-lg {
    border: 2px solid #337ab7;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.33333;
    padding: 8px 16px;
}
.btn_black_dest {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 165px;
    padding: 12px 12px 10px 12px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    background-color:#000;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    float: right;
    border: none;
}
.btn_black_dest::before {
    content: "\f105";
    position: absolute;
    right: 12px;
    font-family: 'Font Awesome 5 Free';
    font-size: 18px;
    font-weight: 600;
    top: 10px;
}
.btn_black_dest:hover, .btn_black_dest:focus {
    color:#fff;
    text-decoration: none;
    background-color: #c29c75;
}
.dv_accion {
    border-top: 1px solid #dfe0e4;
    float: left;
    margin: 20px 0 0;
    padding: 18px 0 15px;
    width: 97%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.btn-primary {
    background-color: #e83861;
    border-color: #EA2752;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: unset;
    padding: 3px 18px;
    width: auto;
}
.btn-primary:hover {
    background-color: #EA2752;
    color: white;
}
.alert.alert-danger {
    transform: translateX(-50%);
    color: #dc1e33;
    font-family:
    "Open Sans",sans-serif;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 3%;
    left: 50%;
}
button#exit {
    margin-right: 12px;
}
.noMatchingPasswords {
    float: left;
    width: 100%;
    text-align: center;
    color: crimson;
    font-weight: 700;
}
.disabled {
    opacity: 0.65;
    pointer-events: none;
}
@media screen and (max-width: 1170px) {
    .container{
        width: 100%;
    }
}
@media only screen and (max-width: 800px), (orientation: portrait)
{
    html, body
    {
        width: 100vw;
        height: 100vh;
    }
    body
    {
        display: flex;
    }
    .container
    {
        width: auto;
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    .form-signin{
        margin: 8% 5% 0 5%;
        width: 80%;
    } 
}