div.tab-pane {
    padding: 20px;
}
div.tabla {
    margin-top: 20px;
}


/* */
label.specs_info {
    display: block;
    font-size: 0.9em;
    margin: 5px 0 0 0;
}
.contentSection {
    margin-bottom: 2rem;
    width: 100%;
    display: inline-block;
}
.contentSectionTable {
    margin-bottom: 4rem;
}
.agregar-elemento-galeria {
    margin-top: 0;
    float: right;
}
.actionIcon {
    cursor: pointer;
    text-align: center;
}
table.rowTable {
    width: 100%;
}
table.rowTable tbody td {
    padding: 3px;
}
table.rowTable td.imagePreview {
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    max-width: 160px;
}
table.rowTable td.imagePreview > img, table.rowTable td.imagePreview > video {
    margin: 0 auto;
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
    display: inline-block;
}
td.na > i.fa-times {
    color: crimson;
}
.modal-content, .modal-body, .modal-footer {
    float: left;
    width: 100%;
}

.galeria-grid { 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    align-items: start;
}
.galeria-grid img {
    margin: 0 auto;
    border: 1px solid #ccc;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 150px;
}
.galeria-grid > div {
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.galeria-grid span.delete-elemento {
    margin-bottom: 3px;
}
.galeria-grid span.delete-elemento {
    margin-bottom: 3px;
}
.galeria-grid span.delete-elemento > i {
    float: right;
    cursor: pointer;
}
.galeria-grid a.youtubeLink {
    position: absolute;
    color: red;
    font-size: 1.5em;
}
.galeria-grid a.youtubeLink > i {
    float: left;
}
.pr-like-no-row, .pl-like-no-row {
    margin-bottom: 2rem;
}
.pr-like-no-row {
    padding-right: 30px;
}
.pl-like-no-row {
    padding-left: 30px;
}

.boton-header {
    text-align: center;
    padding: 40px 10px;
    border-right: 1px solid #ddd;
    margin: 10px 0px;
    transition: background 0.1s ease-in-out;
    cursor: pointer;
    color: #23527C;
    float: right;
}
.boton-header:hover, .boton-header.active {
    background: #01B6AD;
    color: #fff !important;
    text-decoration: none;
}
.boton-header i {
    margin: 0 10px;
}
.add-to-gallery-youtube {
    margin-right: 12px !important;
}
