.aceptando {    display: block !important;}
i.fa.fa-pencil-square-o {    margin: 0 5px;}
td.editars {    color: #4E1017;}
td.editars:hover, .actives {   text-decoration: underline;}
.col-lg-6.boton,.col-lg-4.boton {
    text-align: center;
    padding: 40px 10px;
    border-right: 1px solid #ddd;
    margin: 10px 0px;
    transition: background 0.1s ease-in-out;
    cursor: pointer;
    color: #23527C;
}
.col-lg-6.boton:last-child,.col-lg-4.boton:last-child {    border: none;}
.col-lg-6.boton:hover, .active.col-lg-4.boton:hover, .active {
    background: #01B6AD;
    color: #fff !important;
    text-decoration: none;
}
.inpsl{
    width: 100%;
}
.li_tags {
    float: left;
    width: 100%;
    color: #1b1b1b !important;
    margin: 0 0 30px 0;
}
.titltags{
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}
.li_tags span {
    float: left;
    margin: 0 0 0 20px;
    line-height: 25px;
}
.li_tags span input{
    width: initial !important;
}
.lbl_inpch{
    margin: 28px 0 0 0;
}
.li_tags span input[type="checkbox"], .lbl_inpch input[type="checkbox"]{
    border-radius: 0px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 0 0 1px hsla(0,0%,0%,.6), 0 1px 1px hsla(0,0%,0%,.6), 0 1px 1px hsla(0,0%,0%,.4), 0 1px 1px hsla(0,0%,0%,.2), 0 1px 1px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
.lbl_inpch input{
    margin: 0 0 0 10px;
    width: 17px !important;
}
.li_tags span input[type="checkbox"]:checked:after, .lbl_inpch input[type="checkbox"]:checked:after{
    background-color: #15AFB7;
}
.li_tags span input[type="checkbox"]:after, .lbl_inpch input[type="checkbox"]:checked:after{
    border-radius: 0px;
    content: '';
    display: block;
    height: 7px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 7px;
}
/*MODAL IMAGE*/
.modalIMG {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content-IMG {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#captionIMG {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-IMG, #captionIMG {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.color_tbout{
    background-color: #f1f1f1;
    padding: 3px 15px 3px 15px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.closeIMG {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeIMG:hover,
.closeIMG:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content-IMG {
    width: 100%;
  }
}
/* ----------- */


.auto{    float: right;}
.tabla{
    float: left;
    width: 98%;
    margin: 10px 1%;
    padding: 5px 0 0;
    border-top: 1px solid #eee;
}
button.btn.btn-info.btn-lg {
    border-radius: 0;
    padding: 10px 8px;
    float: right;
    margin: 10px 0;
    font-weight: 500;
    background: #3d3d3d;
    border-color: #3d3d3d;
    font-family: Muli;
    font-size: 16px;
}
.tables {
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}
button i.fa.fa-plus, button i.fa.fa-download, button i.fa.fa-upload {
    font-size: 14px;
    margin: 0 5px;
}
button.btn.btn-info.btn-lg:hover{
    transition: background 0.1s ease-in-out;
    background: #6DB5B1;
    border-color: #6DB5B1;
    
}
i.fa.fa-pencil {    font-size: 20px;}
i.fa.fa-trash {    font-size: 20px;}
#myModal3 label, #myModal2 label{
    width: 100%;
    margin: 5px 0 0;
}
#myModal .modal-dialog {
    width: 96%;
}
.modal-header {
    background: #1d1d1b;
    color: #fff;
}
.modal-header.deletion {
    background: crimson;
    color: #fff;
}
.modal-header i {    margin: 0 5px;}
.submits {text-align: right;}
input#enviar, input#enviar_sub, #guardar_foto, input#enviar_seo {
    width: auto;
    margin: 5px;
    padding: 10px;
    border: none;
    color: #fff;
    background: #6DB5B1;
}
p.cerrar {
    padding: 10px;
    margin: 5px;
    background: #3d3d3d;
    float: right;
    color: #fff;
    cursor: pointer;
}
.datos_producto label i {    margin: 0 5px;}
.xxx {
    width: 50%;
    display: inline-table;
    padding: 0 1%;
    margin: 5px 0px 18px;
}
.datos_producto label {    width: 100%;}
.datos_producto div input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
.datos_producto div select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
/* textarea#descripcion {
    width: 100%;
    padding: 0 1%;
    font-size: 16px;
} */
.aceptando {    width: 100% !important;}
.datos_producto .submits {
    width: 100% !important;
    text-align: right;
    padding: 0;
}
input#enviar_producto, input#enviar_archivo {
    width: auto;
    margin: 5px;
    padding: 10px;
    border: none;
    color: #fff;
    background: #6DB5B1;
}
p.cerrar {
    padding: 10px;
    margin: 5px;
    background: #ddd;
    float: right;
    color: #3d3d3d;
    cursor: pointer;
}
.datos_producto .aceptando {    padding: 0 !important;}
.tab-content .active {
    background: transparent;
    color: #1b1b1b !important;
}
.nav-tabs .active {
    background: transparent;
    color: #337ab7 !important;
}
form#galeria_form, form#seo_form {margin: 10px 0;}
p.error {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    color: red;
}
p.error i {    margin: 0 5px;}
.cien {    width: 100% !important;}
select#subcategoria_prod {    /*width: 49%;*/}
.imagenes_galeria {
    margin: 10px 0 0;
    text-align: left;
}
.miniatura {
    width: 25%;
    display: inline-table;
    padding: 0 1%;    
}
.miniatura i.fa.fa-trash {
    float: right;
    cursor: pointer;
    margin: 5px;
}
.miniatura img {    width: 100%;}
p.warning {
    padding: 0 2%;
    font-weight: 700;
    color: #6DB5B1;
    text-align: right;
    margin: 5px 0;
}
.datos_producto div.collapse{    display: none;}
textarea#ingredientes {    width: 100%;}
.pilas_div {
    clear: both;
    width: 100% !important;
    padding: 0 0 10px !important;
    border-bottom: 1px solid #ededed;
    margin: 5px 0 0 !important;
}
.pilas_div h2 {
    font-size: 22px;
    margin: 5px 0 0;
    padding: 0 1%;
}
.activess {    display: block !important;}
button.close {
    color: #ddd;
    opacity: .8 !important;
}
#form_generales textarea {
    width: 100%;
    min-height: 100px;
} 
#categorias .aceptando {    display: block;}
#galeria_form .aceptando {    display: block !important;}
.tynis {    margin: 20px 0;}
.mce_in {    display: none;}
div#mceu_136 {    display: none;}
.mce-has-close {    display: none;}
form#seo_form .datos_producto div {    margin: 10px 0 0;}
#seo_form .aceptando {    margin: 20px 0 0;}
.imagen_min{    text-align: center;}
.imagen_min img{
    height: 130px;
    vertical-align: top;
    display: inline;
    margin: 0 auto;
}
.cat_img img {
    height: auto;
    width: 100%;
}
table td img, table td video {    height: 60px;}
table td {    vertical-align: middle !important;}
span.filter-option.pull-left {    max-width: 370px;}
input#imagen_cat {    width: 100%;}
tfoot {    display: table-header-group;}
.table>tfoot>tr>td, .table>tfoot>tr>th {    border:  none;}
.tabla tfoot th:after {    content: none;}
button.btn.btn-info.btn-lg.productos_modal.descargar, button.btn.btn-info.btn-lg.productos_modal.subir {    margin: 10px 20px 0 0px;}
tr.inactivo {    background: #f9bebe;}
.modal-title i:before {    color: #fff;}
img.cargandos {
    width: 120px;
    height:  120px;
}
.xxx p {
    font-size: 13px;
    text-align:  center;
    color: #0f847e;
    font-weight:  900;
}
.xxx.imagen_min p {    color: #12769c;}
.table select {
    width: 96%;
    height: 30px;
    position: absolute;
    top: -34px;
    margin: 0 0px 0px 0px;
    border-radius: 2px;
}
button.addYoutube {
    border: none;
    color: #fff;
    background: #1b1b1b;
    padding: 6px;
}
#platillo #destacado_principal {
    box-shadow: none;
    height: 2em;
    width: 2em;
}
