*{
  border-sizing: border-box;
  margin: 0;
  font-family: 'Muli', sans-serif;
}
.tabla th.sorting_asc:after {
    content: "\e155";
}
ul.nav.navbar-nav.padding img {
  width: 110px;
}
.row {
    position: relative;
    z-index: 9;
}
.tabla th:after {
    font-family: 'Glyphicons Halflings';
    margin: -7px 0 0 0;
    font-weight: 100;
    font-size: 12px;
    content: "\e150";
    color: #bfbfbf;
    top: 50%;
    position: absolute;
    right: 4px;
}
.tabla th.sorting_desc:after {    content: "\e156";}
.container {
    width: 100%;
    padding: 0 1%;
}
body {
    position: relative;
    overflow-x: hidden;
}
body,
html {height: 100%;background: #F4F4F5;}
.nav a:not(.sin_click):hover {
    text-shadow: 0px 0px 6px white;
}
.nav a:not(.sin_click) {
    text-shadow: 0px 0px white;
    transition: all 0.2s;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {    padding-left: 220px;}
#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {  display: none;}
#wrapper.toggled #sidebar-wrapper {    width: 220px;}
#page-content-wrapper {
    width: 100%;
    padding-top: 120px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}
.sidebar-nav > li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(1):not(.sidebar-brand):before {    background-color: #314190; }
.sidebar-nav li:nth-child(2):before {    background-color: #ec1b5a; }
.sidebar-nav li:nth-child(3):before {    background-color: #79aefe; }
.sidebar-nav li:nth-child(4):before {    background-color: #e24210; }
.sidebar-nav li:nth-child(5):before {    background-color: #279636; }
.sidebar-nav li:nth-child(6):before {    background-color: #7d5d81; }
.sidebar-nav li:nth-child(7):before {    background-color: #e2ac14; }
.sidebar-nav li:nth-child(8):before {    background-color: #2d2366; }
.sidebar-nav li:nth-child(9):before {    background-color: #35acdf; }
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}
.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #ddd;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 99;
}
fieldset {
    border: 1px solid #ddd;
    padding: 0 0%;
    background: #fcfcfc;
}

legend {
    width: auto;
    border: none;
  margin-bottom: 0;
}
h1 {
    /* margin:; */
    font-size: 28px;
}
.logos {
    width: 100%;
    float: left;
    padding: 0px 1%;
    margin: 0 0 10px;
    text-align: right;
    background: #1c1c1c;
    position: fixed;
    z-index: 99;
}

img.logo {
    width: 70px;
}
.icono_header {
    cursor: pointer;
    font-size: 20px;
}
.boton i {
    margin: 0 10px;
}
.gestion {
    float: right;
}
.sorting_asc, .sorting_desc {
    background: #3d3d3d;
    color: #fff;
}

th.sorting {
    background: #6DB5B1;
    color: #fff;
}
.div_cargando{
  float: left;
  width: 100%;
  text-align: center;
}
.div_cargando img{
  width: 150px;
  margin: 30px 0 0;
}
nav i{
  margin: 0 5px;
  
}
.sidebar-nav li a {
    font-size: 13px;
}
.sorting_asc, .sorting_desc {
    background: #3d3d3d;
    color: #fff;
}

th.sorting {
    background: #01B6AD;
    color: #fff;
}
.cuentas_head {
    float: left;
    cursor: pointer !important;
    color: #ddd;
    position: relative;
}

label.usuario_header {
    float: left;
    text-align: center;
    margin: 0 5px 0 0;
    cursor: pointer;
}
.cuentas_head:hover, .gestion i:hover{
  /* color:; */
}
.icono_headers {
    font-size: 20px;
    margin: 0px 0px 0;
    cursor: pointer;
}
.navbar.navbar-default {
    float: right;
}

.navbar.navbar-default {
    background: transparent;
    border: none;
    margin: 0;
}
.nav-collapse i {
    font-size: 20;
}
.navbar-right li i {
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
  color: #ddd !important;
  transition: background 0.1s ease-in-out !important;
  transition: color 0.1s ease-in-out;
}
.navbar-default i{
  font-size: 20px;
}
ul.nav.navbar-nav.padding {
    padding: 0;
    /* min-height: 100px; */
    min-height: 70px;
}
.nav.navbar-nav.padding>li>a {
    padding: 10px;
    /* min-height: 100px;
    line-height: 70px; */
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav.navbar-right>li>a{
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: #000;
  
}
.navbar-default .navbar-nav > li.login.open > a{
  color: #6DB5B1 !important;
}
.dropdown-menu i {
    margin: 0 5px;
}
a.sin_click {
    cursor: default;
}

li.divider {
    cursor: default !important;
}
a.sin_click:hover{
    background: transparent !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: #ddd;
    text-decoration: none;
    background-color: transparent;
}
ul.dropdown-menu {
    background: #232323;
}

.dropdown-menu>li>a {
    color: #ddd;
}
.drop_logout:hover{
  background: #6DB5B1 !important;
}
.dataTables_paginate {
    text-align: right !important;
  float: right;
}

.dataTables_filter{
    text-align: right !important;
  float: right;
}
table th {
    position: relative;
}
li.line_div {
    border-top: 2px solid #fff;
    float: left;
}

/* upload files */
.dv_conten_img {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
}
.dv_containt_img {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 200px;
  margin: 25px auto 0;
  border: 1px solid #076169;
  overflow: hidden;
  background:#f9f9f9;
}
.btn_charge_imgusr {
  background: rgba(7, 97, 105, 0.7) none repeat scroll 0 0;
  border: 0 none;
  bottom: 0;
  color:#fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  height: 36px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999;
}
input#nombre_imagen_banner, input#nombre_imagen_seccion, input#nombre_imagen_destacado_gastronomia, input#nombre_imagen_mapa,input#nombre_imagen_categoria, input#nombre_imagen_galeria, input#nombre_imagen_general, input#nombre_imagen_galeria_categoria,#nombre_imagen_principal,#nombre_imagen_logo,#nombre_imagen_platillo{
  visibility: hidden;
}
/* */
/* gallery */
.l-img-min, .l-img-min-cat {
  width: calc(25% - 3px);
  display: inline-table;
  padding: 0 1%;
  position: relative;
  margin: 0 0 12px 0;
  padding-top: 30px;
}
.l-img-min i.fa.fa-trash, .l-img-min-cat i.fa.fa-trash{
  float: right;
  cursor: pointer;
  margin: 5px;
}
.l-img-min img, .l-img-min-cat img{
  width: 100%;
}
.remove {
  position: absolute;
  /* top: -30px; */
  top: 0;
  right: 5px;
}
.youtubeLinkGaleria {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.6em;
  color: red;
}
/* */
.submitButton {
  float: right;
  width: auto;
  margin: 5px;
  padding: 10px;
  border: none;
  color: #fff;
  background: #6DB5B1;
}
i.lang-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 0.5em;
}
i.lang-es-normal {
  background-image: url(../images/lang/es-32.png);
  height: 1em;
  width: 1em;
}
i.lang-en-normal {
  background-image: url(../images/lang/en-32.png);
  height: 1em;
  width: 1em;
}
i.lang-es-bigger {
  background-image: url(../images/lang/es-32.png);
  height: 1.2em;
  width: 1.2em;
  margin-top: -0.1em;
}
i.lang-en-bigger {
  background-image: url(../images/lang/en-32.png);
  height: 1.2em;
  width: 1.2em;
  margin-top: -0.1em;
}
.langIndicator {
  text-align: center;
}
.youtubeURL {
  margin-top: 6px;
}
.youtubeURL.wrong, input[name=add_youtube].wrong {
  border: 2px solid crimson;
}
.youtubeURL.correct, input[name=add_youtube].correct {
  border: 2px solid lightgreen;
}

.sidebar-nav .divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

@media (max-width: 768px){
  .button.hamburger {
    top: 10px;
  }
}


.fullWidthModal .modal-dialog {
  width: 96%;
}
.triggerEdit {
  cursor: pointer;
  font-weight: bold;
}

.w-100 {
  width: 100%;
}
.mt-3 {
  margin-top: 1rem !important;
}
.float-right {
  float: right;
}
.text-align-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.flexCenterAll {
  display: flex;
  justify-content: center;
  align-items: center;
}


.deleteIcon {
  cursor: pointer;
  font-size: 20px;
}

