<div class="w-100">
    <div class="container">
        <h1 class="px-5 pt-5 pb-5 mt-5 h-subtitle text-center font-weight-lighter">Aviso de privacidad</h1>
        <h3 class="font-weight-lighter">Pacífica Resort Ixtapa</h3>
        <p class="my-4 text-normal ">De conformidad con la "Ley Federal de Protección de Datos Personales en Posesión de los Particulares" y su Reglamento, se pone a disposición de nuestros clientes, el aviso de privacidad, a que se refieren los ordenamientos en cita, el cual tiene como finalidad establecer las bases que se observarán en el manejo, resguardo, y tratamiento de la información personal que utilice y/o compile INMOBILIARIA LR, S.A. DE C.V.; TOURS DE GOLF MEXICO, S.A. DE C.V.; INMOBILIARIA CHAC, S.A. DE C.V., conjunta o separadamente, en adelante “PACIFICA” en su carácter de “Responsable”.</p>
        <h3 class="font-weight-lighter">Declaración de privacidad</h3>
        <p class="my-4 text-normal ">PACIFICA, sus filiales y subsidiarias, con domicilio en Calzada de Tlalpan, número 3604, Colonia San Lorenzo Huipulco, C.P. 14370, México, Distrito Federal, es una empresa comprometida en proteger la privacidad de sus clientes. La información personal que nos proporciona, (datos personales y, en su caso, datos personales sensibles), será tratada conforme a los siguientes lineamientos:</p>
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">1. Definiciones.</h5>
        <p class="my-4 text-normal ">Se entenderá por:<br>
                Aviso de Privacidad: Documento físico o electrónico o en cualquier otro formato generado por el “Responsable” que es puesto a disposición del “Titular”, previo al tratamiento de sus datos personales.
                <br><br>
                Datos Personales: Cualquier información concerniente a una persona física identificada o identificable.
                <br><br>
                Datos Personales Sensibles: Aquellos datos personales que afecten a la esfera más íntima de su “Titular” o cuya utilización indebida, pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico, estado de salud presente y futura, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas o preferencia sexual.
                <br><br>
                “Titular”: La persona física a quien corresponden los datos personales o autorizada para entregar datos personales de un tercero conforme a las leyes aplicables, que entregue dichos Datos al “Responsable”.
                <br><br>
                “Encargado”: Significa la persona física o jurídica que sola o conjuntamente con otras trate datos personales por cuenta del “Responsable”.
                <br><br>
                Consentimiento: Manifestación de la voluntad del “Titular” de los datos mediante la cual se efectúa el tratamiento de los mismos.
                <br><br>
                Bloqueo: La identificación y conservación de datos personales una vez cumplida la finalidad para la cual fueron recabados, con el único propósito de determinar posibles responsabilidades con relación a su tratamiento, hasta el plazo de prescripción legal o contractual de éstas. Durante dicho periodo, los datos personales no podrán ser objeto de tratamiento y transcurrido éste, se procederá a su cancelación en la base de datos que corresponda.
                <br><br>
                Derecho de Acceso: Es el derecho que tiene el “Titular” a conocer sobre los datos personales relacionados a su persona que obren en poder del “Responsable” de que se trate o de sus “Encargados”, asimismo a quién le han sido compartidos y con qué finalidad.
                <br><br>
                Derecho a la Rectificación: Cada “Titular” tiene derecho a que sus datos personales sean rectificados cuando éstos sean inexactos o incompletos.
                <br><br>
                Derecho de Oposición: El “Titular” tiene en todo momento el derecho a solicitar, siempre que tenga una causa legítima, que el “Responsable” deje de tratar sus datos personales.
        </p>
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">2. FINALIDAD Y TRATAMIENTO DE LA INFORMACIÓN PERSONAL.</h5>
        <p class="my-4 text-normal ">
            2.1. PACIFICA, sus filiales y empresas de grupo, utilizarán la información personal que nos proporciona, para la prestación del Servicio de Tiempo Compartido, que enunciativa, pero no limitativamente puede consistir en la elaboración y envío de reservaciones, avisos, publicaciones, novedades de hoteles que sean propiedad de Pacífica o con los cuales tenga convenios, o sea socio, a través de medios telefónicos, físicos, electrónico y presenciales; venta de paquetes vacacionales, membresías, certificados, promociones, ofertas, programas de lealtad, boletines, o cualquier otra relacionada con el objeto social de la empresa.
            <br><br>
            2.2. En los mismos términos su información podrá ser utilizada por PACIFICA en los procesos de calidad del servicio, quejas y atención a clientes, para realizar encuestas, de calidad, de preferencias, estadísticas, relacionadas con los servicios que  proporciona Pacífica Resort Ixtapa y en los casos autorizados expresamente por la Ley Federal de Protección de Datos Personales en Posesión de Particulares y su Reglamento.
        </p>
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">3. CONSENTIMIENTO DEL TITULAR.</h5>
        <p class="my-4 text-normal ">El “Titular”, reconoce expresamente:<br>
                3.1. Que el aviso de privacidad le ha sido dado a conocer por el “Responsable”.
                <br><br>
                3.2. Que ha leído, entendido y está de acuerdo con todos los términos del aviso de privacidad, por lo que otorga su consentimiento para el tratamiento de sus datos personales de conformidad  con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento.
                <br><br>
                3.3. Que tratándose de datos personales sensibles o financieros, se requerirá el consentimiento expreso de su “Titular”, salvo las excepciones a que se refieren los artículos 10 y 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, y para el caso de que Pacífica Resort Ixtapa o sus “Encargados” realicen transferencias de datos personales a terceros nacionales o extranjeros, estos deberán ajustarse a lo establecido en este aviso de privacidad.
                <br><br>
                3.4. En caso de que el “Titular” no se oponga a los términos del presente aviso  dentro las siguientes 48 horas en que fue puesto a su disposición, se considerará acordado y consentido su contenido, en términos del tercer párrafo del artículo 8 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. El consentimiento del “Titular” podrá ser revocado en cualquier momento por éste sin que se le atribuyan efectos retroactivos, en los términos y conforme a los procedimientos establecidos que más adelante se señalan.
        </p>
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">4. TRANSFERENCIA DE DATOS.</h5>
        <p class="my-4 text-normal ">El “Responsable” informa al “Titular” que sus datos personales pueden ser compartidos con terceros, personas físicas o morales, proveedores de bienes o servicios, extranjeros o nacionales, con los cuales tenga celebrados contratos, convenios, acuerdos o cualquier otro acto jurídico necesario para el cumplimiento de su objeto social. En este sentido, la autorización del “Titular” otorgada conforme a esta sección faculta al “Responsable” y/o a sus “Encargados” a transmitir datos personales del “Titular” a dichos proveedores, en el entendido de que dichos proveedores están obligados, por virtud del contrato correspondiente, a mantener la confidencialidad de los datos personales suministrados por el “Responsable” y/o sus “Encargados” y a observar el presente aviso de privacidad. El “Responsable” y/o sus “Encargados” podrán transferir los datos personales recolectados del “Titular” a cualquier otra sociedad del mismo grupo empresarial al que pertenezca el “Responsable” y que operen con los mismos procesos y políticas internas, sea que se encuentren en territorio nacional o en el extranjero para su tratamiento con las mismas finalidades descritas en este aviso.</p>
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">5. RESGUARDO Y SEGURIDAD DE LOS DATOS PERSONALES.</h5>
        <p class="my-4 text-normal ">El “Responsable” y sus “Encargados” conservarán los datos personales del “Titular” durante el tiempo que sea necesario para procesar sus solicitudes de información, productos y servicios, así como para mantener los registros contables, financieros y de auditoría en términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y de la legislación mercantil, fiscal y administrativa vigente. Los datos personales del “Titular” recolectados por el “Responsable” y sus “Encargados” se encontrarán protegidos por medidas de seguridad administrativas, técnicas y físicas adecuadas contra el daño, pérdida, alteración, destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y de la regulación administrativa derivada de la misma.</p>
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">6. DEPARTAMENTO DE DATOS PERSONALES.</h5>
        <p class="my-4 text-normal ">Para la atención y solución de quejas, dudas, preguntas, comentarios o si requiere información adicional acerca de nuestro aviso de privacidad, deberá ponerse en contacto con el “Encargado” de sus datos personales a través de los siguientes medios:
                <br><br>
                Dirección de correo electrónico: <a target="_blank" class="lnk-pac font-weight-bolder" href="mailto:datospersonales@pacifica.com.mx">datospersonales@pacifica.com.mx</a><br>
                Por teléfono: al 416090 00 Ext. 9030.<br>
                Físicamente: en Calzada de Tlalpan, número 3604, Colonia San Lorenzo Huipulco, C.P. 14370, México, Distrito Federal.
        </p>
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">7. PROCEDIMIENTO PARA EJERCER LOS DERECHOS ARCO.</h5>
        <p class="my-4 text-normal ">Para ejercer los Derechos ARCO, el “Titular” o su representante deberán presentar físicamente en el domicilio del “Responsable” cito en Calzada de Tlalpan, número 3604, Colonia San Lorenzo Huipulco, C.P. 14370, México, Distrito Federal, una solicitud de acceso, rectificación, cancelación u oposición con la información y documentación siguiente:</p>
        <ul>
            <li>Nombre del “Titular” y domicilio, así como señalar expresamente el medio para comunicarle la respuesta a su solicitud;</li>
            <li>Los documentos que acrediten su identidad copia simple en formato impreso o electrónico de su credencial de elector, pasaporte o cualquier otra identificación oficial reconocida, misma que no deberá tener una antigüedad mayor a un año, en caso de apoderado legal, deberá acompañar copia simple del documento con que acredite su personalidad, así como en formato impreso o electrónico su identificación oficial.</li>
            <li>La descripción clara y precisa de los datos personales respecto de los que busca ejercer alguno de los derechos ARCO.</li>
            <li>Cualquier otro elemento o documento que facilite la localización de los datos personales del “Titular”.</li>
        </ul>
        <p class="my-4 text-normal ">       
                En el caso de las solicitudes de rectificación de datos personales, el “Titular” respectivo deberá también indicar las modificaciones a realizarse y aportar la documentación que sustente su petición.
                El “Responsable” o sus “Encargados” darán respuesta al “Titular” en un plazo máximo de quince días hábiles, contados desde la fecha en que se recibió la solicitud de acceso, rectificación, cancelación u oposición, la determinación adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los diez días siguientes a la fecha en que se le comunica la respuesta al “Titular”. Tratándose de solicitudes de acceso a datos personales, el “Responsable” o sus “Encargados” procederán con su entrega previa acreditación de la identidad del solicitante o de su representante legal, según corresponda. Los plazos antes referidos podrán ser ampliados sólo en términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
                <br><br>
                La entrega de los datos personales será gratuita, debiendo el solicitante cubrir únicamente los gastos justificados de envío o el costo de reproducción en copias u otros formatos. En el caso de que el “Titular” realice una nueva solicitud en un periodo menor a doce meses, deberá cubrir los costos correspondientes equivalentes a 1.5 días de salario mínimo vigente en el Distrito Federal en términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, a menos que existan modificaciones sustanciales al aviso de privacidad que motiven nuevas consultas.
                Para efectos de las solicitudes de cancelación de datos personales, además de lo dispuesto por el presente aviso de privacidad, se estará a lo dispuesto en el Artículo 26 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, incluyendo los casos de excepción de cancelación de datos personales señalados.
                La presentación de una solicitud de oposición del uso de datos personales por el “Titular” de los mismos, dará al “Responsable” la facultad de oponerse al uso de los datos personales que como “Titular” haya entregado al oponente.
        </p> 
        <h5 class="mt-5 text-normal font-weight-bolder text-uppercase">8. CAMBIOS AL AVISO DE PRIVACIDAD.</h5>
        <p class="my-4 text-normal ">Pacífica informa a los “Titulares” y  clientes que el presente aviso de privacidad puede actualizarse y modificarse  periódicamente por lo que es responsabilidad del “Titular” revisar periódicamente el contenido del aviso de privacidad en el sitio <a href="https://www.pacifica.com.mx/web/<?php echo $ln; ?>aviso-de-privacidad<?php echo $ext; ?>">www.pacifica.com.mx/web/<?php echo $ln; ?>aviso-de-privacidad<?php echo $ext; ?></a>. El “Responsable”, entenderá que de no expresar lo contrario, significa que el “Titular” ha leído, entendido y acordado los términos expuestos, lo que constituye su consentimiento a los cambios establecidos en dichas actualizaciones respecto al tratamiento de sus datos personales para efectos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás legislaciones aplicables.</p>
        <p class="my-5 text-normal text-center">Última actualización: 20 de Mayo de 2013</p>
    </div>
</div>