<div class="w-100 banner_fluid">
    <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/bodas/pacifica_bodas_main_banner.jpg" alt="Ixtapa">
    <div class="message-banner" >
        <h1 class="text-uppercase text-white text-center w-100 m-0">La boda de tus sueños</h1>
        <hr class="line-text-message my-2" />
        <p class="w-100 text-uppercase text-white text-center font-weight-bolder message-slogan">EN PACÍFICA IXTAPA Y PACÍFICA GRAND</p>
    </div>        
</div>
<div class="w-100">
    <div class="container">
        <h2 class="px-5 pt-5 pb-3 h-subtitle text-center font-weight-lighter">Solicitud de información</h2>
        <p class="my-4 text-normal text-center">Nuestro equipo está listo para ayudarte a planificar la boda de tus sueños. Contáctanos para hacerte llegar una cotización<br> a la medida e información adicional de los servicios de bodas en Pacífica Resort y Pacífica Grand.</p>
    </div>
</div>
<?php $fecha_actual = date("Y-m-d");  ?>
<div class="w-100 py-4 mt-5 section_gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <form id="form-contacto" class="form-contacto mt-4 mb-4" onsubmit="return sendEmailContact(this);">
                    <h6 class="primary-color text-normal mb-4"><i class="fas fa-asterisk fa-obl"></i> Los campos marcados son esenciales:</h6>
                    <input type="hidden" name="tipo_contacto" value="bodas">
                    <input type="radio" name="es_socio" value="0" style="display: none;" checked>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Nombre completo</label>
                        <input type="text" class="form-control" name="nombre" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Teléfono</label>
                        <input type="tel" class="form-control" name="telefono" pattern="[0-9]{10}" minlength="10" maxlength="10" required placeholder="10 dígitos">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Fecha del evento</label>
                        <input type="date" class="form-control" name="fecha_evento" required min="<?php echo $fecha_actual; ?>" >
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Fechas de respaldo (opcionales)</label>
                        <input type="date" class="form-control" name="fecha_respaldo" required min="<?php echo $fecha_actual; ?>" >
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Número de invitados</label>
                        <input type="number" class="form-control" name="cantidad_invitados" pattern="[0-9]" value="0" min="0" required >
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal">Comentarios adicionales</label>
                        <textarea class="form-control" name="mensaje" rows="6"></textarea>
                    </div>
                    <!-- <input type="hidden" name="recaptcha_response" id="recaptchaResponse" value="03AOLTBLR0uFFiRx_GSOIiRl6PcRPzTwg-XTfUJelp5EWaUx9I0fqZIRWlvZa4eR_lENywaQklVXOuSCUofmg1rXJh-tkc9PZibWXzmNm2dICLvlwdd_sZLELWEhmS9gze4NxG1himjdl5wBZ5FV3QZnuNOl7iDFjBULybFYU73yPJCEMgLyDLd6eQjgRQUVCWLlp_SMDPyIOCAStX87ddTDgrm9U-mmKFm_Ub4tE47SE_vXuPt3BlTfBNpJjoYJkL7g18b1l5rA57rxuAjsIUXwkAkNVuPp-1P0Oq4fj9qCK3iNsNw8YJcEj8TlsN82JKJnbBAvgCrkWQcqHjHP3U5k8UJwSLlJPG3g"> -->
                    <button type="submit" class="btn_black_dest text-left w-100 mt-2">Enviar mensaje a pacífica</button>
                </form>
            </div>
            <div class="col-sm-0 col-md-4"></div>
        </div>
    </div>
</div>