<div class="w-100 banner_fluid">
    <img class="img-fluid h-100 w-100" src="<?php echo $httpProtocol.$host.$url ?>images/contact/pacifica_contacto_main_banner.jpg" alt="Ixtapa">
    <div class="message-banner" >
        <h1 class="text-uppercase text-white text-center w-100 m-0">Contáctanos</h1>
        <hr class="line-text-message my-2" />
    </div>        
</div>
<div class="w-100">
    <div class="container">
        <h2 class="px-5 pt-5 pb-3 h-subtitle text-center font-weight-lighter">Permítenos asesorarte.</h2>
        <p class="my-4 text-normal text-center">Siempre estaremos a tus órdenes en los siguientes medios de contacto.</p>
        <p class="mb-4 text-line-bottom text-center font-weight-bolder">Contáctanos</p>
    </div>
</div>
<div class="w-100 py-5 mt-5 section_gray">
    <div class="container">
        <p class="mb-4 text-center font-weight-bolder">Reservaciones, Cobranza y Venta de Paquetes de Alimentos y Bebidas</p>
        <p class="my-4 text-normal text-center mg-p lnk-c">Nuestro horario de Atención a Clientes es de 9 a.m. a 7 p.m. (Hora de CDMX) de lunes a viernes
                <br>y de 9 a.m. a 3 p.m. (Hora de CDMX) los sábados y domingos. <br><br> <strong><a target="_blank" href="mailto:customerservice@pacifica.com.mx">customerservice@pacifica.com.mx</a></strong><br><br> </p>
        <p class="mb-4 text-center font-weight-bolder">Ventas</p>
        <p class="my-4 text-normal text-center lnk-c">
                Ixtapa 755-555-2500<br>
                <strong><a target="_blank" href="mailto:servicio.ventas@pacifica.com.mx">servicio.ventas@pacifica.com.mx</a></strong></p>
    </div>
</div>
<div class="w-100 py-5">
    <div class="container">
        <p class="mb-4 text-line-bottom text-center font-weight-bolder">Envía tu mensaje</p>
        <div class="row">
            <div class="col-sm-0 col-md-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <form id="form-contacto" class="form-contacto mt-4 mb-4" onsubmit="return sendEmailContact(this);">
                    <h6 class="primary-color text-normal mb-4"><i class="fas fa-asterisk fa-obl"></i> Los campos marcados son esenciales:</h6>
                    <input type="hidden" name="tipo_contacto" value="contacto">
                    <input type="hidden" name="telefono" value="">
                    <input type="hidden" name="fecha_evento" value="">
                    <input type="hidden" name="fecha_respaldo" value="">
                    <input type="hidden" name="cantidad_invitados" value="0">
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Nombre completo</label>
                        <input type="text" class="form-control" name="nombre" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal">¿Eres uno de nuestros socios?</label>
                        <div class="w-100">
                            <div class="form-check form-check-inline mr-5">
                                <input class="form-check-input" type="radio" name="es_socio" id="inlineRadio1" value="1" required>
                                <label class="form-check-label text-normal" for="inlineRadio1">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="es_socio" id="inlineRadio2" value="0">
                                <label class="form-check-label text-normal" for="inlineRadio2">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal"><i class="fas fa-asterisk fa-obl"></i> Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="primary-color text-normal">Mensaje</label>
                        <textarea class="form-control" name="mensaje" rows="6"></textarea>
                    </div>
                    <!-- <input type="hidden" name="recaptcha_response" id="recaptchaResponse" value="03AOLTBLR0uFFiRx_GSOIiRl6PcRPzTwg-XTfUJelp5EWaUx9I0fqZIRWlvZa4eR_lENywaQklVXOuSCUofmg1rXJh-tkc9PZibWXzmNm2dICLvlwdd_sZLELWEhmS9gze4NxG1himjdl5wBZ5FV3QZnuNOl7iDFjBULybFYU73yPJCEMgLyDLd6eQjgRQUVCWLlp_SMDPyIOCAStX87ddTDgrm9U-mmKFm_Ub4tE47SE_vXuPt3BlTfBNpJjoYJkL7g18b1l5rA57rxuAjsIUXwkAkNVuPp-1P0Oq4fj9qCK3iNsNw8YJcEj8TlsN82JKJnbBAvgCrkWQcqHjHP3U5k8UJwSLlJPG3g"> -->
                    <button type="submit" class="btn_black_dest text-left w-100 mt-2">Enviar mensaje a pacífica</button>
                </form>
            </div>
            <div class="col-sm-0 col-md-4"></div>
        </div>
    </div>
</div>