<div class="w-100 my-5 py-5">
    <h1 class="text-center mt-4 font-weight-bold" style="font-family: 'CocomatLight';">¡Gracias por ponerte en contacto con nosotros!</h1>
    <h3 class="text-center mt-3 mb-4" style="font-family: 'Muli', sans-serif;">El correo se ha enviado de manera exitosa.</h3>
</div>