<aside class="aside-nav-main mt-3 mt-lg-0">
    <a class="text-uppercase px-4 py-2 m-0 w-100 nvuniq toggleNavaside" href="javascript:$('.nav-main-destination').toggle('slow');"><?php echo $url_destino; ?></a>
    <nav class="nav-main-destination">
        <a class="text-uppercase px-4 py-2 m-0 w-100 d-block nvuniq <?php if(isset($_nb1)){ echo $_nb1;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/">En un vistazo</a>
        <ul class="list-unstyled">
            <li>
                <a class="text-grayp text-uppercase px-4 py-2 d-block group-link <?php if(isset($_nb2)){ echo $_nb2;} ?>" href="#navHabitaciones" data-toggle="collapse" aria-expanded="false" >Habitaciones y suites</a>
                <ul class="collapse list-unstyled main-group <?php if(isset($_ds1)){ echo $_ds1;} ?>"" id="navHabitaciones" >
                    <?php 
                        $menu_nav = new Menu();
                        $con_main = $menu_nav ->nav_items_category($bd,$id_destino);
                        while($vmain = mysqli_fetch_array($con_main)){
                            $activo_cat = "";
                            $display_sub = "";
                            if(isset($id_categoria)){
                                if($id_categoria == $vmain["id_categoria"]){
                                    $activo_cat = "active_nav_cat";
                                    $display_sub = " show ";
                                }
                            }
                            echo '<li><a class="text-sub-nav pl-5 pr-4 py-2 d-block '.$activo_cat.'" href="'.$httpProtocol.$host.$url.$ln.'destinos/'.$url_destino.'/'.$vmain["url_categoria"].''.$ext.'"  >'.utf8_encode($vmain["nombre_categoria"]).'</a>
                                <ul class="collapse list-unstyled main-group '.$display_sub.' ">';
                                $con_smain = $menu_nav ->nav_items_type($bd,$vmain["id_categoria"]);
                                while($smain = mysqli_fetch_array($con_smain)){
                                    $activo_sub = "";
                                    $display_tipo = "";
                                    if(isset($id_tipo)){
                                        if($id_tipo == $smain["id_tipo_habitacion"]){
                                            $activo_sub = "active_nav_cat";
                                            $display_tipo = " show ";
                                        }
                                    }
                                    echo '<li class="bord-none"><a class="text-sub-nav pl-5 pr-4 py-2 d-block nv_sbm '.$activo_sub.'" href="'.$httpProtocol.$host.$url.$ln.'destinos/'.$url_destino.'/'.$smain["url_tipo"].'">'.utf8_encode($smain["nombre_tipo"]).'</a>
                                    <ul class="collapse list-unstyled main-group bl-main '.$display_tipo.' ml-5 my-2 ">';
                                    $con_ssmain = $menu_nav ->nav_items_product($bd,$smain["id_tipo_habitacion"]);
                                    while($ssmain = mysqli_fetch_array($con_ssmain)){
                                        $activo_h = "";
                                        if(isset($id_habitacion)){
                                            if($id_habitacion == $ssmain["id_habitacion"]){
                                                $activo_h = "active_nav_cat";
                                            }
                                        }
                                        echo ' <li class="bort"><a class="text-sub-nav pl-3 pr-4 py-1 nv_sbm d-block '.$activo_h.'" href="'.$httpProtocol.$host.$url.$ln.'destinos/'.$url_destino.'/'.$ssmain["url_habitacion"].'">'.utf8_encode($ssmain["nombre_habitacion"]).'</a></li>';    
                                    }                                        
                                    echo '</ul>
                                    </li>';
                                }
                            echo '</ul>
                            </li>';
                        }
                    ?>
                </ul>
            </li>
            <li><a class="text-grayp text-uppercase px-4 py-2 d-block <?php if(isset($_nb3)){ echo $_nb3;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/como-llegar<?php echo $ext; ?>">Cómo llegar</a></li>
            <li>
                <a class="text-grayp text-uppercase px-4 py-2 d-block group-link <?php if(isset($_nb4)){ echo $_nb4;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/gastronomia/" >Gastronomía</a>
                <ul class="collapse list-unstyled main-group <?php if(isset($_ds2)){ echo $_ds2;} ?>" id="navGastronomia">
                    <?php 
                        if(isset($_nb4)){
                            $con_rest = $menu_nav ->nav_items_restaurants($bd,"");
                            while($vrest = mysqli_fetch_array($con_rest)){
                                $activo_r = "";
                                if(isset($id_restaurante)){
                                    if($id_restaurante == $vrest["id_restaurante"]){
                                        $activo_r = "active_nav_cat";
                                    }
                                }
                                echo '<li><a class="text-sub-nav pl-5 pr-4 py-2 d-block '.$activo_r.'" href="'.$httpProtocol.$host.$url.$ln.'destinos/'.utf8_encode($vrest["url_destino"]).'/gastronomia/'.$vrest["url_restaurante"].'">'.utf8_encode($vrest["nombre_restaurante"]).'</a></li>';
                            }
                        }
                    ?>
                </ul>
            </li>
            <li>
                <a class="text-grayp text-uppercase px-4 py-2 d-block group-link <?php if(isset($_nb5)){ echo $_nb5;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/que-hacer/" >¿Qué hacer?</a>
                <ul class="collapse list-unstyled main-group <?php if(isset($_ds3)){ echo $_ds3;} ?>" id="navHacer">
                    <?php if($id_destino == 1): ?>
                    <li><a class="text-sub-nav pl-5 pr-4 py-2 d-block <?php if(isset($_ds3a)){ echo $_ds3a;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/que-hacer/compras<?php echo $ext; ?>">Compras</a></li>
                    <?php endif; ?>
                    <li><a class="text-sub-nav pl-5 pr-4 py-2 d-block <?php if(isset($_ds3b)){ echo $_ds3b;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/que-hacer/albercas<?php echo $ext; ?>">Albercas</a></li>
                    <li><a class="text-sub-nav pl-5 pr-4 py-2 d-block <?php if(isset($_ds3c)){ echo $_ds3c;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/que-hacer/actividades<?php echo $ext; ?>">Actividades</a></li>
                </ul>
            </li>
            <?php if($id_destino == 1): ?>
            <li><a class="text-grayp text-uppercase px-4 py-2 d-block <?php if(isset($_nb6)){ echo $_nb6;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/bodas<?php echo $ext; ?>">Bodas</a></li>
            <li><a class="text-grayp text-uppercase px-4 py-2 d-block <?php if(isset($_nb7)){ echo $_nb7;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/golf<?php echo $ext; ?>">Golf</a></li>
            <?php endif; ?>
            <li><a class="text-grayp text-uppercase px-4 py-2 d-block <?php if(isset($_nb8)){ echo $_nb8;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/spa<?php echo $ext; ?>">Spa</a></li>
            <li><a class="text-grayp text-uppercase px-4 py-2 d-block <?php if(isset($_nb9)){ echo $_nb9;} ?>" href="<?php echo $httpProtocol.$host.$url.$ln ?>destinos/<?php echo $url_destino; ?>/entretenimiento<?php echo $ext; ?>">Entretenimiento</a></li>
        </ul>
    </nav>
</aside>