<nav class="navbar <?php echo $page ?> navbar-expand-lg navbar-light bg-light fixed-top px-0 p-0" id="navbar-transparent">
    <div itemscope itemtype="http://schema.org/Brand" class="d-flex flex-grow-1 dv-log">
        <a itemprop="url" class="navbar-brand ml-2 w-100 mr-5 text-right" href="<?php echo $httpProtocol.$host.$url?>" id="navbar-logo">
            <img itemprop="logo" src="<?php echo $httpProtocol.$host.$url ?>images/brand/pacifica_logo_header.png" alt="Pacífica resort">
        </a>
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <div class="text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-mobile">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar-toggle-mobile">
        <div class="container ml-0">
            <div class="row">
                <ul class="navbar-nav ml-auto flex-nowrap" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="nav-item px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase" href="#">
                            <span class="main-link" itemprop="name">Acceso a socios</span>
                            <meta itemprop="position" content="1"/>
                        </a>
                    </li>
                    <li class="nav-item dropdown px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="main-link" itemprop="name">Destinos</span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                        <meta itemprop="position" content="2"/>
                    </li>
                    <li class="nav-item dropdown px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="main-link" itemprop="name">Hoteles resort</span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                        <meta itemprop="position" content="3"/>
                    </li>
                    <li class="nav-item px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase" href="#">
                            <span class="main-link" itemprop="name">Bodas</span>
                            <meta itemprop="position" content="4"/>
                        </a>
                    </li>
                    <li class="nav-item px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase" href="#">
                            <span class="main-link" itemprop="name">Gastronomía</span>
                            <meta itemprop="position" content="5"/>
                        </a>
                    </li>
                    <li class="nav-item px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase" href="#">
                            <span class="main-link" itemprop="name">Entretenimiento</span>
                            <meta itemprop="position" content="6"/>
                        </a>
                    </li>
                    <li class="nav-item px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase" href="#">
                            <span class="main-link" itemprop="name">Sé socio</span>
                            <meta itemprop="position" content="7"/>
                        </a>
                    </li>
                    <li class="nav-item dropdown px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="main-link" itemprop="name">Acerca de</span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                        <meta itemprop="position" content="8"/>
                    </li>
                    <li class="nav-item px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase" href="#">
                            <strong>01-800-221-5830</strong>
                            <span class="main-link" itemprop="name">CONTÁCTANOS</span>
                            <meta itemprop="position" content="9"/>
                        </a>
                    </li>
                    <li class="nav-item dropdown px-2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" class="nav-link nav-pacifica text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="main-link" itemprop="name">ES</span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">EN</a>
                        </div>
                        <meta itemprop="position" content="10"/>
                    </li>
                </ul>
            </div>   
        </div>
    </div>  
</nav>

